.b-top-red-0 {border-top-color: var(--red-0);}
.b-top-red-1 {border-top-color: var(--red-1);}
.b-top-red-2 {border-top-color: var(--red-2);}
.b-top-red-3 {border-top-color: var(--red-3);}
.b-top-red-4 {border-top-color: var(--red-4);}
.b-top-red-5 {border-top-color: var(--red-5);}
.b-top-red-6 {border-top-color: var(--red-6);}
.b-top-red-7 {border-top-color: var(--red-7);}
.b-top-red-8 {border-top-color: var(--red-8);}
.b-top-red-9 {border-top-color: var(--red-9);}
.b-top-red-10 {border-top-color: var(--red-10);}
.b-top-red-11 {border-top-color: var(--red-11);}
.b-top-red-12 {border-top-color: var(--red-12);}
.b-top-red-13 {border-top-color: var(--red-13);}
.b-top-pink-0 {border-top-color: var(--pink-0);}
.b-top-pink-1 {border-top-color: var(--pink-1);}
.b-top-pink-2 {border-top-color: var(--pink-2);}
.b-top-pink-3 {border-top-color: var(--pink-3);}
.b-top-pink-4 {border-top-color: var(--pink-4);}
.b-top-pink-5 {border-top-color: var(--pink-5);}
.b-top-pink-6 {border-top-color: var(--pink-6);}
.b-top-pink-7 {border-top-color: var(--pink-7);}
.b-top-pink-8 {border-top-color: var(--pink-8);}
.b-top-pink-9 {border-top-color: var(--pink-9);}
.b-top-pink-10 {border-top-color: var(--pink-10);}
.b-top-pink-11 {border-top-color: var(--pink-11);}
.b-top-pink-12 {border-top-color: var(--pink-12);}
.b-top-pink-13 {border-top-color: var(--pink-13);}
.b-top-purple-0 {border-top-color: var(--purple-0);}
.b-top-purple-1 {border-top-color: var(--purple-1);}
.b-top-purple-2 {border-top-color: var(--purple-2);}
.b-top-purple-3 {border-top-color: var(--purple-3);}
.b-top-purple-4 {border-top-color: var(--purple-4);}
.b-top-purple-5 {border-top-color: var(--purple-5);}
.b-top-purple-6 {border-top-color: var(--purple-6);}
.b-top-purple-7 {border-top-color: var(--purple-7);}
.b-top-purple-8 {border-top-color: var(--purple-8);}
.b-top-purple-9 {border-top-color: var(--purple-9);}
.b-top-purple-10 {border-top-color: var(--purple-10);}
.b-top-purple-11 {border-top-color: var(--purple-11);}
.b-top-purple-12 {border-top-color: var(--purple-12);}
.b-top-purple-13 {border-top-color: var(--purple-13);}
.b-top-deep-purple-0 {border-top-color: var(--deep-purple-0);}
.b-top-deep-purple-1 {border-top-color: var(--deep-purple-1);}
.b-top-deep-purple-2 {border-top-color: var(--deep-purple-2);}
.b-top-deep-purple-3 {border-top-color: var(--deep-purple-3);}
.b-top-deep-purple-4 {border-top-color: var(--deep-purple-4);}
.b-top-deep-purple-5 {border-top-color: var(--deep-purple-5);}
.b-top-deep-purple-6 {border-top-color: var(--deep-purple-6);}
.b-top-deep-purple-7 {border-top-color: var(--deep-purple-7);}
.b-top-deep-purple-8 {border-top-color: var(--deep-purple-8);}
.b-top-deep-purple-9 {border-top-color: var(--deep-purple-9);}
.b-top-deep-purple-10 {border-top-color: var(--deep-purple-10);}
.b-top-deep-purple-11 {border-top-color: var(--deep-purple-11);}
.b-top-deep-purple-12 {border-top-color: var(--deep-purple-12);}
.b-top-deep-purple-13 {border-top-color: var(--deep-purple-13);}
.b-top-indigo-0 {border-top-color: var(--indigo-0);}
.b-top-indigo-1 {border-top-color: var(--indigo-1);}
.b-top-indigo-2 {border-top-color: var(--indigo-2);}
.b-top-indigo-3 {border-top-color: var(--indigo-3);}
.b-top-indigo-4 {border-top-color: var(--indigo-4);}
.b-top-indigo-5 {border-top-color: var(--indigo-5);}
.b-top-indigo-6 {border-top-color: var(--indigo-6);}
.b-top-indigo-7 {border-top-color: var(--indigo-7);}
.b-top-indigo-8 {border-top-color: var(--indigo-8);}
.b-top-indigo-9 {border-top-color: var(--indigo-9);}
.b-top-indigo-10 {border-top-color: var(--indigo-10);}
.b-top-indigo-11 {border-top-color: var(--indigo-11);}
.b-top-indigo-12 {border-top-color: var(--indigo-12);}
.b-top-indigo-13 {border-top-color: var(--indigo-13);}
.b-top-blue-0 {border-top-color: var(--blue-0);}
.b-top-blue-1 {border-top-color: var(--blue-1);}
.b-top-blue-2 {border-top-color: var(--blue-2);}
.b-top-blue-3 {border-top-color: var(--blue-3);}
.b-top-blue-4 {border-top-color: var(--blue-4);}
.b-top-blue-5 {border-top-color: var(--blue-5);}
.b-top-blue-6 {border-top-color: var(--blue-6);}
.b-top-blue-7 {border-top-color: var(--blue-7);}
.b-top-blue-8 {border-top-color: var(--blue-8);}
.b-top-blue-9 {border-top-color: var(--blue-9);}
.b-top-blue-10 {border-top-color: var(--blue-10);}
.b-top-blue-11 {border-top-color: var(--blue-11);}
.b-top-blue-12 {border-top-color: var(--blue-12);}
.b-top-blue-13 {border-top-color: var(--blue-13);}
.b-top-light-blue-0 {border-top-color: var(--light-blue-0);}
.b-top-light-blue-1 {border-top-color: var(--light-blue-1);}
.b-top-light-blue-2 {border-top-color: var(--light-blue-2);}
.b-top-light-blue-3 {border-top-color: var(--light-blue-3);}
.b-top-light-blue-4 {border-top-color: var(--light-blue-4);}
.b-top-light-blue-5 {border-top-color: var(--light-blue-5);}
.b-top-light-blue-6 {border-top-color: var(--light-blue-6);}
.b-top-light-blue-7 {border-top-color: var(--light-blue-7);}
.b-top-light-blue-8 {border-top-color: var(--light-blue-8);}
.b-top-light-blue-9 {border-top-color: var(--light-blue-9);}
.b-top-light-blue-10 {border-top-color: var(--light-blue-10);}
.b-top-light-blue-11 {border-top-color: var(--light-blue-11);}
.b-top-light-blue-12 {border-top-color: var(--light-blue-12);}
.b-top-light-blue-13 {border-top-color: var(--light-blue-13);}
.b-top-cyan-0 {border-top-color: var(--cyan-0);}
.b-top-cyan-1 {border-top-color: var(--cyan-1);}
.b-top-cyan-2 {border-top-color: var(--cyan-2);}
.b-top-cyan-3 {border-top-color: var(--cyan-3);}
.b-top-cyan-4 {border-top-color: var(--cyan-4);}
.b-top-cyan-5 {border-top-color: var(--cyan-5);}
.b-top-cyan-6 {border-top-color: var(--cyan-6);}
.b-top-cyan-7 {border-top-color: var(--cyan-7);}
.b-top-cyan-8 {border-top-color: var(--cyan-8);}
.b-top-cyan-9 {border-top-color: var(--cyan-9);}
.b-top-cyan-10 {border-top-color: var(--cyan-10);}
.b-top-cyan-11 {border-top-color: var(--cyan-11);}
.b-top-cyan-12 {border-top-color: var(--cyan-12);}
.b-top-cyan-13 {border-top-color: var(--cyan-13);}
.b-top-teal-0 {border-top-color: var(--teal-0);}
.b-top-teal-1 {border-top-color: var(--teal-1);}
.b-top-teal-2 {border-top-color: var(--teal-2);}
.b-top-teal-3 {border-top-color: var(--teal-3);}
.b-top-teal-4 {border-top-color: var(--teal-4);}
.b-top-teal-5 {border-top-color: var(--teal-5);}
.b-top-teal-6 {border-top-color: var(--teal-6);}
.b-top-teal-7 {border-top-color: var(--teal-7);}
.b-top-teal-8 {border-top-color: var(--teal-8);}
.b-top-teal-9 {border-top-color: var(--teal-9);}
.b-top-teal-10 {border-top-color: var(--teal-10);}
.b-top-teal-11 {border-top-color: var(--teal-11);}
.b-top-teal-12 {border-top-color: var(--teal-12);}
.b-top-teal-13 {border-top-color: var(--teal-13);}
.b-top-green-0 {border-top-color: var(--green-0);}
.b-top-green-1 {border-top-color: var(--green-1);}
.b-top-green-2 {border-top-color: var(--green-2);}
.b-top-green-3 {border-top-color: var(--green-3);}
.b-top-green-4 {border-top-color: var(--green-4);}
.b-top-green-5 {border-top-color: var(--green-5);}
.b-top-green-6 {border-top-color: var(--green-6);}
.b-top-green-7 {border-top-color: var(--green-7);}
.b-top-green-8 {border-top-color: var(--green-8);}
.b-top-green-9 {border-top-color: var(--green-9);}
.b-top-green-10 {border-top-color: var(--green-10);}
.b-top-green-11 {border-top-color: var(--green-11);}
.b-top-green-12 {border-top-color: var(--green-12);}
.b-top-green-13 {border-top-color: var(--green-13);}
.b-top-light-green-0 {border-top-color: var(--light-green-0);}
.b-top-light-green-1 {border-top-color: var(--light-green-1);}
.b-top-light-green-2 {border-top-color: var(--light-green-2);}
.b-top-light-green-3 {border-top-color: var(--light-green-3);}
.b-top-light-green-4 {border-top-color: var(--light-green-4);}
.b-top-light-green-5 {border-top-color: var(--light-green-5);}
.b-top-light-green-6 {border-top-color: var(--light-green-6);}
.b-top-light-green-7 {border-top-color: var(--light-green-7);}
.b-top-light-green-8 {border-top-color: var(--light-green-8);}
.b-top-light-green-9 {border-top-color: var(--light-green-9);}
.b-top-light-green-10 {border-top-color: var(--light-green-10);}
.b-top-light-green-11 {border-top-color: var(--light-green-11);}
.b-top-light-green-12 {border-top-color: var(--light-green-12);}
.b-top-light-green-13 {border-top-color: var(--light-green-13);}
.b-top-lime-0 {border-top-color: var(--lime-0);}
.b-top-lime-1 {border-top-color: var(--lime-1);}
.b-top-lime-2 {border-top-color: var(--lime-2);}
.b-top-lime-3 {border-top-color: var(--lime-3);}
.b-top-lime-4 {border-top-color: var(--lime-4);}
.b-top-lime-5 {border-top-color: var(--lime-5);}
.b-top-lime-6 {border-top-color: var(--lime-6);}
.b-top-lime-7 {border-top-color: var(--lime-7);}
.b-top-lime-8 {border-top-color: var(--lime-8);}
.b-top-lime-9 {border-top-color: var(--lime-9);}
.b-top-lime-10 {border-top-color: var(--lime-10);}
.b-top-lime-11 {border-top-color: var(--lime-11);}
.b-top-lime-12 {border-top-color: var(--lime-12);}
.b-top-lime-13 {border-top-color: var(--lime-13);}
.b-top-yellow-0 {border-top-color: var(--yellow-0);}
.b-top-yellow-1 {border-top-color: var(--yellow-1);}
.b-top-yellow-2 {border-top-color: var(--yellow-2);}
.b-top-yellow-3 {border-top-color: var(--yellow-3);}
.b-top-yellow-4 {border-top-color: var(--yellow-4);}
.b-top-yellow-5 {border-top-color: var(--yellow-5);}
.b-top-yellow-6 {border-top-color: var(--yellow-6);}
.b-top-yellow-7 {border-top-color: var(--yellow-7);}
.b-top-yellow-8 {border-top-color: var(--yellow-8);}
.b-top-yellow-9 {border-top-color: var(--yellow-9);}
.b-top-yellow-10 {border-top-color: var(--yellow-10);}
.b-top-yellow-11 {border-top-color: var(--yellow-11);}
.b-top-yellow-12 {border-top-color: var(--yellow-12);}
.b-top-yellow-13 {border-top-color: var(--yellow-13);}
.b-top-amber-0 {border-top-color: var(--amber-0);}
.b-top-amber-1 {border-top-color: var(--amber-1);}
.b-top-amber-2 {border-top-color: var(--amber-2);}
.b-top-amber-3 {border-top-color: var(--amber-3);}
.b-top-amber-4 {border-top-color: var(--amber-4);}
.b-top-amber-5 {border-top-color: var(--amber-5);}
.b-top-amber-6 {border-top-color: var(--amber-6);}
.b-top-amber-7 {border-top-color: var(--amber-7);}
.b-top-amber-8 {border-top-color: var(--amber-8);}
.b-top-amber-9 {border-top-color: var(--amber-9);}
.b-top-amber-10 {border-top-color: var(--amber-10);}
.b-top-amber-11 {border-top-color: var(--amber-11);}
.b-top-amber-12 {border-top-color: var(--amber-12);}
.b-top-amber-13 {border-top-color: var(--amber-13);}
.b-top-orange-0 {border-top-color: var(--orange-0);}
.b-top-orange-1 {border-top-color: var(--orange-1);}
.b-top-orange-2 {border-top-color: var(--orange-2);}
.b-top-orange-3 {border-top-color: var(--orange-3);}
.b-top-orange-4 {border-top-color: var(--orange-4);}
.b-top-orange-5 {border-top-color: var(--orange-5);}
.b-top-orange-6 {border-top-color: var(--orange-6);}
.b-top-orange-7 {border-top-color: var(--orange-7);}
.b-top-orange-8 {border-top-color: var(--orange-8);}
.b-top-orange-9 {border-top-color: var(--orange-9);}
.b-top-orange-10 {border-top-color: var(--orange-10);}
.b-top-orange-11 {border-top-color: var(--orange-11);}
.b-top-orange-12 {border-top-color: var(--orange-12);}
.b-top-orange-13 {border-top-color: var(--orange-13);}
.b-top-deep-orange-0 {border-top-color: var(--deep-orange-0);}
.b-top-deep-orange-1 {border-top-color: var(--deep-orange-1);}
.b-top-deep-orange-2 {border-top-color: var(--deep-orange-2);}
.b-top-deep-orange-3 {border-top-color: var(--deep-orange-3);}
.b-top-deep-orange-4 {border-top-color: var(--deep-orange-4);}
.b-top-deep-orange-5 {border-top-color: var(--deep-orange-5);}
.b-top-deep-orange-6 {border-top-color: var(--deep-orange-6);}
.b-top-deep-orange-7 {border-top-color: var(--deep-orange-7);}
.b-top-deep-orange-8 {border-top-color: var(--deep-orange-8);}
.b-top-deep-orange-9 {border-top-color: var(--deep-orange-9);}
.b-top-deep-orange-10 {border-top-color: var(--deep-orange-10);}
.b-top-deep-orange-11 {border-top-color: var(--deep-orange-11);}
.b-top-deep-orange-12 {border-top-color: var(--deep-orange-12);}
.b-top-deep-orange-13 {border-top-color: var(--deep-orange-13);}
.b-top-brown-0 {border-top-color: var(--brown-0);}
.b-top-brown-1 {border-top-color: var(--brown-1);}
.b-top-brown-2 {border-top-color: var(--brown-2);}
.b-top-brown-3 {border-top-color: var(--brown-3);}
.b-top-brown-4 {border-top-color: var(--brown-4);}
.b-top-brown-5 {border-top-color: var(--brown-5);}
.b-top-brown-6 {border-top-color: var(--brown-6);}
.b-top-brown-7 {border-top-color: var(--brown-7);}
.b-top-brown-8 {border-top-color: var(--brown-8);}
.b-top-brown-9 {border-top-color: var(--brown-9);}
.b-top-grey-0 {border-top-color: var(--grey-0);}
.b-top-grey-1 {border-top-color: var(--grey-1);}
.b-top-grey-2 {border-top-color: var(--grey-2);}
.b-top-grey-3 {border-top-color: var(--grey-3);}
.b-top-grey-4 {border-top-color: var(--grey-4);}
.b-top-grey-5 {border-top-color: var(--grey-5);}
.b-top-grey-6 {border-top-color: var(--grey-6);}
.b-top-grey-7 {border-top-color: var(--grey-7);}
.b-top-grey-8 {border-top-color: var(--grey-8);}
.b-top-grey-9 {border-top-color: var(--grey-9);}
.b-top-blue-grey-0 {border-top-color: var(--blue-grey-0);}
.b-top-blue-grey-1 {border-top-color: var(--blue-grey-1);}
.b-top-blue-grey-2 {border-top-color: var(--blue-grey-2);}
.b-top-blue-grey-3 {border-top-color: var(--blue-grey-3);}
.b-top-blue-grey-4 {border-top-color: var(--blue-grey-4);}
.b-top-blue-grey-5 {border-top-color: var(--blue-grey-5);}
.b-top-blue-grey-6 {border-top-color: var(--blue-grey-6);}
.b-top-blue-grey-7 {border-top-color: var(--blue-grey-7);}
.b-top-blue-grey-8 {border-top-color: var(--blue-grey-8);}
.b-top-blue-grey-9 {border-top-color: var(--blue-grey-9);}
.b-top-black{border-top-color: var(--black);}
.b-top-white{border-top-color: var(--white);}
.b-left-red-0 {border-left-color: var(--red-0);}
.b-left-red-1 {border-left-color: var(--red-1);}
.b-left-red-2 {border-left-color: var(--red-2);}
.b-left-red-3 {border-left-color: var(--red-3);}
.b-left-red-4 {border-left-color: var(--red-4);}
.b-left-red-5 {border-left-color: var(--red-5);}
.b-left-red-6 {border-left-color: var(--red-6);}
.b-left-red-7 {border-left-color: var(--red-7);}
.b-left-red-8 {border-left-color: var(--red-8);}
.b-left-red-9 {border-left-color: var(--red-9);}
.b-left-red-10 {border-left-color: var(--red-10);}
.b-left-red-11 {border-left-color: var(--red-11);}
.b-left-red-12 {border-left-color: var(--red-12);}
.b-left-red-13 {border-left-color: var(--red-13);}
.b-left-pink-0 {border-left-color: var(--pink-0);}
.b-left-pink-1 {border-left-color: var(--pink-1);}
.b-left-pink-2 {border-left-color: var(--pink-2);}
.b-left-pink-3 {border-left-color: var(--pink-3);}
.b-left-pink-4 {border-left-color: var(--pink-4);}
.b-left-pink-5 {border-left-color: var(--pink-5);}
.b-left-pink-6 {border-left-color: var(--pink-6);}
.b-left-pink-7 {border-left-color: var(--pink-7);}
.b-left-pink-8 {border-left-color: var(--pink-8);}
.b-left-pink-9 {border-left-color: var(--pink-9);}
.b-left-pink-10 {border-left-color: var(--pink-10);}
.b-left-pink-11 {border-left-color: var(--pink-11);}
.b-left-pink-12 {border-left-color: var(--pink-12);}
.b-left-pink-13 {border-left-color: var(--pink-13);}
.b-left-purple-0 {border-left-color: var(--purple-0);}
.b-left-purple-1 {border-left-color: var(--purple-1);}
.b-left-purple-2 {border-left-color: var(--purple-2);}
.b-left-purple-3 {border-left-color: var(--purple-3);}
.b-left-purple-4 {border-left-color: var(--purple-4);}
.b-left-purple-5 {border-left-color: var(--purple-5);}
.b-left-purple-6 {border-left-color: var(--purple-6);}
.b-left-purple-7 {border-left-color: var(--purple-7);}
.b-left-purple-8 {border-left-color: var(--purple-8);}
.b-left-purple-9 {border-left-color: var(--purple-9);}
.b-left-purple-10 {border-left-color: var(--purple-10);}
.b-left-purple-11 {border-left-color: var(--purple-11);}
.b-left-purple-12 {border-left-color: var(--purple-12);}
.b-left-purple-13 {border-left-color: var(--purple-13);}
.b-left-deep-purple-0 {border-left-color: var(--deep-purple-0);}
.b-left-deep-purple-1 {border-left-color: var(--deep-purple-1);}
.b-left-deep-purple-2 {border-left-color: var(--deep-purple-2);}
.b-left-deep-purple-3 {border-left-color: var(--deep-purple-3);}
.b-left-deep-purple-4 {border-left-color: var(--deep-purple-4);}
.b-left-deep-purple-5 {border-left-color: var(--deep-purple-5);}
.b-left-deep-purple-6 {border-left-color: var(--deep-purple-6);}
.b-left-deep-purple-7 {border-left-color: var(--deep-purple-7);}
.b-left-deep-purple-8 {border-left-color: var(--deep-purple-8);}
.b-left-deep-purple-9 {border-left-color: var(--deep-purple-9);}
.b-left-deep-purple-10 {border-left-color: var(--deep-purple-10);}
.b-left-deep-purple-11 {border-left-color: var(--deep-purple-11);}
.b-left-deep-purple-12 {border-left-color: var(--deep-purple-12);}
.b-left-deep-purple-13 {border-left-color: var(--deep-purple-13);}
.b-left-indigo-0 {border-left-color: var(--indigo-0);}
.b-left-indigo-1 {border-left-color: var(--indigo-1);}
.b-left-indigo-2 {border-left-color: var(--indigo-2);}
.b-left-indigo-3 {border-left-color: var(--indigo-3);}
.b-left-indigo-4 {border-left-color: var(--indigo-4);}
.b-left-indigo-5 {border-left-color: var(--indigo-5);}
.b-left-indigo-6 {border-left-color: var(--indigo-6);}
.b-left-indigo-7 {border-left-color: var(--indigo-7);}
.b-left-indigo-8 {border-left-color: var(--indigo-8);}
.b-left-indigo-9 {border-left-color: var(--indigo-9);}
.b-left-indigo-10 {border-left-color: var(--indigo-10);}
.b-left-indigo-11 {border-left-color: var(--indigo-11);}
.b-left-indigo-12 {border-left-color: var(--indigo-12);}
.b-left-indigo-13 {border-left-color: var(--indigo-13);}
.b-left-blue-0 {border-left-color: var(--blue-0);}
.b-left-blue-1 {border-left-color: var(--blue-1);}
.b-left-blue-2 {border-left-color: var(--blue-2);}
.b-left-blue-3 {border-left-color: var(--blue-3);}
.b-left-blue-4 {border-left-color: var(--blue-4);}
.b-left-blue-5 {border-left-color: var(--blue-5);}
.b-left-blue-6 {border-left-color: var(--blue-6);}
.b-left-blue-7 {border-left-color: var(--blue-7);}
.b-left-blue-8 {border-left-color: var(--blue-8);}
.b-left-blue-9 {border-left-color: var(--blue-9);}
.b-left-blue-10 {border-left-color: var(--blue-10);}
.b-left-blue-11 {border-left-color: var(--blue-11);}
.b-left-blue-12 {border-left-color: var(--blue-12);}
.b-left-blue-13 {border-left-color: var(--blue-13);}
.b-left-light-blue-0 {border-left-color: var(--light-blue-0);}
.b-left-light-blue-1 {border-left-color: var(--light-blue-1);}
.b-left-light-blue-2 {border-left-color: var(--light-blue-2);}
.b-left-light-blue-3 {border-left-color: var(--light-blue-3);}
.b-left-light-blue-4 {border-left-color: var(--light-blue-4);}
.b-left-light-blue-5 {border-left-color: var(--light-blue-5);}
.b-left-light-blue-6 {border-left-color: var(--light-blue-6);}
.b-left-light-blue-7 {border-left-color: var(--light-blue-7);}
.b-left-light-blue-8 {border-left-color: var(--light-blue-8);}
.b-left-light-blue-9 {border-left-color: var(--light-blue-9);}
.b-left-light-blue-10 {border-left-color: var(--light-blue-10);}
.b-left-light-blue-11 {border-left-color: var(--light-blue-11);}
.b-left-light-blue-12 {border-left-color: var(--light-blue-12);}
.b-left-light-blue-13 {border-left-color: var(--light-blue-13);}
.b-left-cyan-0 {border-left-color: var(--cyan-0);}
.b-left-cyan-1 {border-left-color: var(--cyan-1);}
.b-left-cyan-2 {border-left-color: var(--cyan-2);}
.b-left-cyan-3 {border-left-color: var(--cyan-3);}
.b-left-cyan-4 {border-left-color: var(--cyan-4);}
.b-left-cyan-5 {border-left-color: var(--cyan-5);}
.b-left-cyan-6 {border-left-color: var(--cyan-6);}
.b-left-cyan-7 {border-left-color: var(--cyan-7);}
.b-left-cyan-8 {border-left-color: var(--cyan-8);}
.b-left-cyan-9 {border-left-color: var(--cyan-9);}
.b-left-cyan-10 {border-left-color: var(--cyan-10);}
.b-left-cyan-11 {border-left-color: var(--cyan-11);}
.b-left-cyan-12 {border-left-color: var(--cyan-12);}
.b-left-cyan-13 {border-left-color: var(--cyan-13);}
.b-left-teal-0 {border-left-color: var(--teal-0);}
.b-left-teal-1 {border-left-color: var(--teal-1);}
.b-left-teal-2 {border-left-color: var(--teal-2);}
.b-left-teal-3 {border-left-color: var(--teal-3);}
.b-left-teal-4 {border-left-color: var(--teal-4);}
.b-left-teal-5 {border-left-color: var(--teal-5);}
.b-left-teal-6 {border-left-color: var(--teal-6);}
.b-left-teal-7 {border-left-color: var(--teal-7);}
.b-left-teal-8 {border-left-color: var(--teal-8);}
.b-left-teal-9 {border-left-color: var(--teal-9);}
.b-left-teal-10 {border-left-color: var(--teal-10);}
.b-left-teal-11 {border-left-color: var(--teal-11);}
.b-left-teal-12 {border-left-color: var(--teal-12);}
.b-left-teal-13 {border-left-color: var(--teal-13);}
.b-left-green-0 {border-left-color: var(--green-0);}
.b-left-green-1 {border-left-color: var(--green-1);}
.b-left-green-2 {border-left-color: var(--green-2);}
.b-left-green-3 {border-left-color: var(--green-3);}
.b-left-green-4 {border-left-color: var(--green-4);}
.b-left-green-5 {border-left-color: var(--green-5);}
.b-left-green-6 {border-left-color: var(--green-6);}
.b-left-green-7 {border-left-color: var(--green-7);}
.b-left-green-8 {border-left-color: var(--green-8);}
.b-left-green-9 {border-left-color: var(--green-9);}
.b-left-green-10 {border-left-color: var(--green-10);}
.b-left-green-11 {border-left-color: var(--green-11);}
.b-left-green-12 {border-left-color: var(--green-12);}
.b-left-green-13 {border-left-color: var(--green-13);}
.b-left-light-green-0 {border-left-color: var(--light-green-0);}
.b-left-light-green-1 {border-left-color: var(--light-green-1);}
.b-left-light-green-2 {border-left-color: var(--light-green-2);}
.b-left-light-green-3 {border-left-color: var(--light-green-3);}
.b-left-light-green-4 {border-left-color: var(--light-green-4);}
.b-left-light-green-5 {border-left-color: var(--light-green-5);}
.b-left-light-green-6 {border-left-color: var(--light-green-6);}
.b-left-light-green-7 {border-left-color: var(--light-green-7);}
.b-left-light-green-8 {border-left-color: var(--light-green-8);}
.b-left-light-green-9 {border-left-color: var(--light-green-9);}
.b-left-light-green-10 {border-left-color: var(--light-green-10);}
.b-left-light-green-11 {border-left-color: var(--light-green-11);}
.b-left-light-green-12 {border-left-color: var(--light-green-12);}
.b-left-light-green-13 {border-left-color: var(--light-green-13);}
.b-left-lime-0 {border-left-color: var(--lime-0);}
.b-left-lime-1 {border-left-color: var(--lime-1);}
.b-left-lime-2 {border-left-color: var(--lime-2);}
.b-left-lime-3 {border-left-color: var(--lime-3);}
.b-left-lime-4 {border-left-color: var(--lime-4);}
.b-left-lime-5 {border-left-color: var(--lime-5);}
.b-left-lime-6 {border-left-color: var(--lime-6);}
.b-left-lime-7 {border-left-color: var(--lime-7);}
.b-left-lime-8 {border-left-color: var(--lime-8);}
.b-left-lime-9 {border-left-color: var(--lime-9);}
.b-left-lime-10 {border-left-color: var(--lime-10);}
.b-left-lime-11 {border-left-color: var(--lime-11);}
.b-left-lime-12 {border-left-color: var(--lime-12);}
.b-left-lime-13 {border-left-color: var(--lime-13);}
.b-left-yellow-0 {border-left-color: var(--yellow-0);}
.b-left-yellow-1 {border-left-color: var(--yellow-1);}
.b-left-yellow-2 {border-left-color: var(--yellow-2);}
.b-left-yellow-3 {border-left-color: var(--yellow-3);}
.b-left-yellow-4 {border-left-color: var(--yellow-4);}
.b-left-yellow-5 {border-left-color: var(--yellow-5);}
.b-left-yellow-6 {border-left-color: var(--yellow-6);}
.b-left-yellow-7 {border-left-color: var(--yellow-7);}
.b-left-yellow-8 {border-left-color: var(--yellow-8);}
.b-left-yellow-9 {border-left-color: var(--yellow-9);}
.b-left-yellow-10 {border-left-color: var(--yellow-10);}
.b-left-yellow-11 {border-left-color: var(--yellow-11);}
.b-left-yellow-12 {border-left-color: var(--yellow-12);}
.b-left-yellow-13 {border-left-color: var(--yellow-13);}
.b-left-amber-0 {border-left-color: var(--amber-0);}
.b-left-amber-1 {border-left-color: var(--amber-1);}
.b-left-amber-2 {border-left-color: var(--amber-2);}
.b-left-amber-3 {border-left-color: var(--amber-3);}
.b-left-amber-4 {border-left-color: var(--amber-4);}
.b-left-amber-5 {border-left-color: var(--amber-5);}
.b-left-amber-6 {border-left-color: var(--amber-6);}
.b-left-amber-7 {border-left-color: var(--amber-7);}
.b-left-amber-8 {border-left-color: var(--amber-8);}
.b-left-amber-9 {border-left-color: var(--amber-9);}
.b-left-amber-10 {border-left-color: var(--amber-10);}
.b-left-amber-11 {border-left-color: var(--amber-11);}
.b-left-amber-12 {border-left-color: var(--amber-12);}
.b-left-amber-13 {border-left-color: var(--amber-13);}
.b-left-orange-0 {border-left-color: var(--orange-0);}
.b-left-orange-1 {border-left-color: var(--orange-1);}
.b-left-orange-2 {border-left-color: var(--orange-2);}
.b-left-orange-3 {border-left-color: var(--orange-3);}
.b-left-orange-4 {border-left-color: var(--orange-4);}
.b-left-orange-5 {border-left-color: var(--orange-5);}
.b-left-orange-6 {border-left-color: var(--orange-6);}
.b-left-orange-7 {border-left-color: var(--orange-7);}
.b-left-orange-8 {border-left-color: var(--orange-8);}
.b-left-orange-9 {border-left-color: var(--orange-9);}
.b-left-orange-10 {border-left-color: var(--orange-10);}
.b-left-orange-11 {border-left-color: var(--orange-11);}
.b-left-orange-12 {border-left-color: var(--orange-12);}
.b-left-orange-13 {border-left-color: var(--orange-13);}
.b-left-deep-orange-0 {border-left-color: var(--deep-orange-0);}
.b-left-deep-orange-1 {border-left-color: var(--deep-orange-1);}
.b-left-deep-orange-2 {border-left-color: var(--deep-orange-2);}
.b-left-deep-orange-3 {border-left-color: var(--deep-orange-3);}
.b-left-deep-orange-4 {border-left-color: var(--deep-orange-4);}
.b-left-deep-orange-5 {border-left-color: var(--deep-orange-5);}
.b-left-deep-orange-6 {border-left-color: var(--deep-orange-6);}
.b-left-deep-orange-7 {border-left-color: var(--deep-orange-7);}
.b-left-deep-orange-8 {border-left-color: var(--deep-orange-8);}
.b-left-deep-orange-9 {border-left-color: var(--deep-orange-9);}
.b-left-deep-orange-10 {border-left-color: var(--deep-orange-10);}
.b-left-deep-orange-11 {border-left-color: var(--deep-orange-11);}
.b-left-deep-orange-12 {border-left-color: var(--deep-orange-12);}
.b-left-deep-orange-13 {border-left-color: var(--deep-orange-13);}
.b-left-brown-0 {border-left-color: var(--brown-0);}
.b-left-brown-1 {border-left-color: var(--brown-1);}
.b-left-brown-2 {border-left-color: var(--brown-2);}
.b-left-brown-3 {border-left-color: var(--brown-3);}
.b-left-brown-4 {border-left-color: var(--brown-4);}
.b-left-brown-5 {border-left-color: var(--brown-5);}
.b-left-brown-6 {border-left-color: var(--brown-6);}
.b-left-brown-7 {border-left-color: var(--brown-7);}
.b-left-brown-8 {border-left-color: var(--brown-8);}
.b-left-brown-9 {border-left-color: var(--brown-9);}
.b-left-grey-0 {border-left-color: var(--grey-0);}
.b-left-grey-1 {border-left-color: var(--grey-1);}
.b-left-grey-2 {border-left-color: var(--grey-2);}
.b-left-grey-3 {border-left-color: var(--grey-3);}
.b-left-grey-4 {border-left-color: var(--grey-4);}
.b-left-grey-5 {border-left-color: var(--grey-5);}
.b-left-grey-6 {border-left-color: var(--grey-6);}
.b-left-grey-7 {border-left-color: var(--grey-7);}
.b-left-grey-8 {border-left-color: var(--grey-8);}
.b-left-grey-9 {border-left-color: var(--grey-9);}
.b-left-blue-grey-0 {border-left-color: var(--blue-grey-0);}
.b-left-blue-grey-1 {border-left-color: var(--blue-grey-1);}
.b-left-blue-grey-2 {border-left-color: var(--blue-grey-2);}
.b-left-blue-grey-3 {border-left-color: var(--blue-grey-3);}
.b-left-blue-grey-4 {border-left-color: var(--blue-grey-4);}
.b-left-blue-grey-5 {border-left-color: var(--blue-grey-5);}
.b-left-blue-grey-6 {border-left-color: var(--blue-grey-6);}
.b-left-blue-grey-7 {border-left-color: var(--blue-grey-7);}
.b-left-blue-grey-8 {border-left-color: var(--blue-grey-8);}
.b-left-blue-grey-9 {border-left-color: var(--blue-grey-9);}
.b-left-black{border-left-color: var(--black);}
.b-left-white{border-left-color: var(--white);}
.b-right-red-0 {border-right-color: var(--red-0);}
.b-right-red-1 {border-right-color: var(--red-1);}
.b-right-red-2 {border-right-color: var(--red-2);}
.b-right-red-3 {border-right-color: var(--red-3);}
.b-right-red-4 {border-right-color: var(--red-4);}
.b-right-red-5 {border-right-color: var(--red-5);}
.b-right-red-6 {border-right-color: var(--red-6);}
.b-right-red-7 {border-right-color: var(--red-7);}
.b-right-red-8 {border-right-color: var(--red-8);}
.b-right-red-9 {border-right-color: var(--red-9);}
.b-right-red-10 {border-right-color: var(--red-10);}
.b-right-red-11 {border-right-color: var(--red-11);}
.b-right-red-12 {border-right-color: var(--red-12);}
.b-right-red-13 {border-right-color: var(--red-13);}
.b-right-pink-0 {border-right-color: var(--pink-0);}
.b-right-pink-1 {border-right-color: var(--pink-1);}
.b-right-pink-2 {border-right-color: var(--pink-2);}
.b-right-pink-3 {border-right-color: var(--pink-3);}
.b-right-pink-4 {border-right-color: var(--pink-4);}
.b-right-pink-5 {border-right-color: var(--pink-5);}
.b-right-pink-6 {border-right-color: var(--pink-6);}
.b-right-pink-7 {border-right-color: var(--pink-7);}
.b-right-pink-8 {border-right-color: var(--pink-8);}
.b-right-pink-9 {border-right-color: var(--pink-9);}
.b-right-pink-10 {border-right-color: var(--pink-10);}
.b-right-pink-11 {border-right-color: var(--pink-11);}
.b-right-pink-12 {border-right-color: var(--pink-12);}
.b-right-pink-13 {border-right-color: var(--pink-13);}
.b-right-purple-0 {border-right-color: var(--purple-0);}
.b-right-purple-1 {border-right-color: var(--purple-1);}
.b-right-purple-2 {border-right-color: var(--purple-2);}
.b-right-purple-3 {border-right-color: var(--purple-3);}
.b-right-purple-4 {border-right-color: var(--purple-4);}
.b-right-purple-5 {border-right-color: var(--purple-5);}
.b-right-purple-6 {border-right-color: var(--purple-6);}
.b-right-purple-7 {border-right-color: var(--purple-7);}
.b-right-purple-8 {border-right-color: var(--purple-8);}
.b-right-purple-9 {border-right-color: var(--purple-9);}
.b-right-purple-10 {border-right-color: var(--purple-10);}
.b-right-purple-11 {border-right-color: var(--purple-11);}
.b-right-purple-12 {border-right-color: var(--purple-12);}
.b-right-purple-13 {border-right-color: var(--purple-13);}
.b-right-deep-purple-0 {border-right-color: var(--deep-purple-0);}
.b-right-deep-purple-1 {border-right-color: var(--deep-purple-1);}
.b-right-deep-purple-2 {border-right-color: var(--deep-purple-2);}
.b-right-deep-purple-3 {border-right-color: var(--deep-purple-3);}
.b-right-deep-purple-4 {border-right-color: var(--deep-purple-4);}
.b-right-deep-purple-5 {border-right-color: var(--deep-purple-5);}
.b-right-deep-purple-6 {border-right-color: var(--deep-purple-6);}
.b-right-deep-purple-7 {border-right-color: var(--deep-purple-7);}
.b-right-deep-purple-8 {border-right-color: var(--deep-purple-8);}
.b-right-deep-purple-9 {border-right-color: var(--deep-purple-9);}
.b-right-deep-purple-10 {border-right-color: var(--deep-purple-10);}
.b-right-deep-purple-11 {border-right-color: var(--deep-purple-11);}
.b-right-deep-purple-12 {border-right-color: var(--deep-purple-12);}
.b-right-deep-purple-13 {border-right-color: var(--deep-purple-13);}
.b-right-indigo-0 {border-right-color: var(--indigo-0);}
.b-right-indigo-1 {border-right-color: var(--indigo-1);}
.b-right-indigo-2 {border-right-color: var(--indigo-2);}
.b-right-indigo-3 {border-right-color: var(--indigo-3);}
.b-right-indigo-4 {border-right-color: var(--indigo-4);}
.b-right-indigo-5 {border-right-color: var(--indigo-5);}
.b-right-indigo-6 {border-right-color: var(--indigo-6);}
.b-right-indigo-7 {border-right-color: var(--indigo-7);}
.b-right-indigo-8 {border-right-color: var(--indigo-8);}
.b-right-indigo-9 {border-right-color: var(--indigo-9);}
.b-right-indigo-10 {border-right-color: var(--indigo-10);}
.b-right-indigo-11 {border-right-color: var(--indigo-11);}
.b-right-indigo-12 {border-right-color: var(--indigo-12);}
.b-right-indigo-13 {border-right-color: var(--indigo-13);}
.b-right-blue-0 {border-right-color: var(--blue-0);}
.b-right-blue-1 {border-right-color: var(--blue-1);}
.b-right-blue-2 {border-right-color: var(--blue-2);}
.b-right-blue-3 {border-right-color: var(--blue-3);}
.b-right-blue-4 {border-right-color: var(--blue-4);}
.b-right-blue-5 {border-right-color: var(--blue-5);}
.b-right-blue-6 {border-right-color: var(--blue-6);}
.b-right-blue-7 {border-right-color: var(--blue-7);}
.b-right-blue-8 {border-right-color: var(--blue-8);}
.b-right-blue-9 {border-right-color: var(--blue-9);}
.b-right-blue-10 {border-right-color: var(--blue-10);}
.b-right-blue-11 {border-right-color: var(--blue-11);}
.b-right-blue-12 {border-right-color: var(--blue-12);}
.b-right-blue-13 {border-right-color: var(--blue-13);}
.b-right-light-blue-0 {border-right-color: var(--light-blue-0);}
.b-right-light-blue-1 {border-right-color: var(--light-blue-1);}
.b-right-light-blue-2 {border-right-color: var(--light-blue-2);}
.b-right-light-blue-3 {border-right-color: var(--light-blue-3);}
.b-right-light-blue-4 {border-right-color: var(--light-blue-4);}
.b-right-light-blue-5 {border-right-color: var(--light-blue-5);}
.b-right-light-blue-6 {border-right-color: var(--light-blue-6);}
.b-right-light-blue-7 {border-right-color: var(--light-blue-7);}
.b-right-light-blue-8 {border-right-color: var(--light-blue-8);}
.b-right-light-blue-9 {border-right-color: var(--light-blue-9);}
.b-right-light-blue-10 {border-right-color: var(--light-blue-10);}
.b-right-light-blue-11 {border-right-color: var(--light-blue-11);}
.b-right-light-blue-12 {border-right-color: var(--light-blue-12);}
.b-right-light-blue-13 {border-right-color: var(--light-blue-13);}
.b-right-cyan-0 {border-right-color: var(--cyan-0);}
.b-right-cyan-1 {border-right-color: var(--cyan-1);}
.b-right-cyan-2 {border-right-color: var(--cyan-2);}
.b-right-cyan-3 {border-right-color: var(--cyan-3);}
.b-right-cyan-4 {border-right-color: var(--cyan-4);}
.b-right-cyan-5 {border-right-color: var(--cyan-5);}
.b-right-cyan-6 {border-right-color: var(--cyan-6);}
.b-right-cyan-7 {border-right-color: var(--cyan-7);}
.b-right-cyan-8 {border-right-color: var(--cyan-8);}
.b-right-cyan-9 {border-right-color: var(--cyan-9);}
.b-right-cyan-10 {border-right-color: var(--cyan-10);}
.b-right-cyan-11 {border-right-color: var(--cyan-11);}
.b-right-cyan-12 {border-right-color: var(--cyan-12);}
.b-right-cyan-13 {border-right-color: var(--cyan-13);}
.b-right-teal-0 {border-right-color: var(--teal-0);}
.b-right-teal-1 {border-right-color: var(--teal-1);}
.b-right-teal-2 {border-right-color: var(--teal-2);}
.b-right-teal-3 {border-right-color: var(--teal-3);}
.b-right-teal-4 {border-right-color: var(--teal-4);}
.b-right-teal-5 {border-right-color: var(--teal-5);}
.b-right-teal-6 {border-right-color: var(--teal-6);}
.b-right-teal-7 {border-right-color: var(--teal-7);}
.b-right-teal-8 {border-right-color: var(--teal-8);}
.b-right-teal-9 {border-right-color: var(--teal-9);}
.b-right-teal-10 {border-right-color: var(--teal-10);}
.b-right-teal-11 {border-right-color: var(--teal-11);}
.b-right-teal-12 {border-right-color: var(--teal-12);}
.b-right-teal-13 {border-right-color: var(--teal-13);}
.b-right-green-0 {border-right-color: var(--green-0);}
.b-right-green-1 {border-right-color: var(--green-1);}
.b-right-green-2 {border-right-color: var(--green-2);}
.b-right-green-3 {border-right-color: var(--green-3);}
.b-right-green-4 {border-right-color: var(--green-4);}
.b-right-green-5 {border-right-color: var(--green-5);}
.b-right-green-6 {border-right-color: var(--green-6);}
.b-right-green-7 {border-right-color: var(--green-7);}
.b-right-green-8 {border-right-color: var(--green-8);}
.b-right-green-9 {border-right-color: var(--green-9);}
.b-right-green-10 {border-right-color: var(--green-10);}
.b-right-green-11 {border-right-color: var(--green-11);}
.b-right-green-12 {border-right-color: var(--green-12);}
.b-right-green-13 {border-right-color: var(--green-13);}
.b-right-light-green-0 {border-right-color: var(--light-green-0);}
.b-right-light-green-1 {border-right-color: var(--light-green-1);}
.b-right-light-green-2 {border-right-color: var(--light-green-2);}
.b-right-light-green-3 {border-right-color: var(--light-green-3);}
.b-right-light-green-4 {border-right-color: var(--light-green-4);}
.b-right-light-green-5 {border-right-color: var(--light-green-5);}
.b-right-light-green-6 {border-right-color: var(--light-green-6);}
.b-right-light-green-7 {border-right-color: var(--light-green-7);}
.b-right-light-green-8 {border-right-color: var(--light-green-8);}
.b-right-light-green-9 {border-right-color: var(--light-green-9);}
.b-right-light-green-10 {border-right-color: var(--light-green-10);}
.b-right-light-green-11 {border-right-color: var(--light-green-11);}
.b-right-light-green-12 {border-right-color: var(--light-green-12);}
.b-right-light-green-13 {border-right-color: var(--light-green-13);}
.b-right-lime-0 {border-right-color: var(--lime-0);}
.b-right-lime-1 {border-right-color: var(--lime-1);}
.b-right-lime-2 {border-right-color: var(--lime-2);}
.b-right-lime-3 {border-right-color: var(--lime-3);}
.b-right-lime-4 {border-right-color: var(--lime-4);}
.b-right-lime-5 {border-right-color: var(--lime-5);}
.b-right-lime-6 {border-right-color: var(--lime-6);}
.b-right-lime-7 {border-right-color: var(--lime-7);}
.b-right-lime-8 {border-right-color: var(--lime-8);}
.b-right-lime-9 {border-right-color: var(--lime-9);}
.b-right-lime-10 {border-right-color: var(--lime-10);}
.b-right-lime-11 {border-right-color: var(--lime-11);}
.b-right-lime-12 {border-right-color: var(--lime-12);}
.b-right-lime-13 {border-right-color: var(--lime-13);}
.b-right-yellow-0 {border-right-color: var(--yellow-0);}
.b-right-yellow-1 {border-right-color: var(--yellow-1);}
.b-right-yellow-2 {border-right-color: var(--yellow-2);}
.b-right-yellow-3 {border-right-color: var(--yellow-3);}
.b-right-yellow-4 {border-right-color: var(--yellow-4);}
.b-right-yellow-5 {border-right-color: var(--yellow-5);}
.b-right-yellow-6 {border-right-color: var(--yellow-6);}
.b-right-yellow-7 {border-right-color: var(--yellow-7);}
.b-right-yellow-8 {border-right-color: var(--yellow-8);}
.b-right-yellow-9 {border-right-color: var(--yellow-9);}
.b-right-yellow-10 {border-right-color: var(--yellow-10);}
.b-right-yellow-11 {border-right-color: var(--yellow-11);}
.b-right-yellow-12 {border-right-color: var(--yellow-12);}
.b-right-yellow-13 {border-right-color: var(--yellow-13);}
.b-right-amber-0 {border-right-color: var(--amber-0);}
.b-right-amber-1 {border-right-color: var(--amber-1);}
.b-right-amber-2 {border-right-color: var(--amber-2);}
.b-right-amber-3 {border-right-color: var(--amber-3);}
.b-right-amber-4 {border-right-color: var(--amber-4);}
.b-right-amber-5 {border-right-color: var(--amber-5);}
.b-right-amber-6 {border-right-color: var(--amber-6);}
.b-right-amber-7 {border-right-color: var(--amber-7);}
.b-right-amber-8 {border-right-color: var(--amber-8);}
.b-right-amber-9 {border-right-color: var(--amber-9);}
.b-right-amber-10 {border-right-color: var(--amber-10);}
.b-right-amber-11 {border-right-color: var(--amber-11);}
.b-right-amber-12 {border-right-color: var(--amber-12);}
.b-right-amber-13 {border-right-color: var(--amber-13);}
.b-right-orange-0 {border-right-color: var(--orange-0);}
.b-right-orange-1 {border-right-color: var(--orange-1);}
.b-right-orange-2 {border-right-color: var(--orange-2);}
.b-right-orange-3 {border-right-color: var(--orange-3);}
.b-right-orange-4 {border-right-color: var(--orange-4);}
.b-right-orange-5 {border-right-color: var(--orange-5);}
.b-right-orange-6 {border-right-color: var(--orange-6);}
.b-right-orange-7 {border-right-color: var(--orange-7);}
.b-right-orange-8 {border-right-color: var(--orange-8);}
.b-right-orange-9 {border-right-color: var(--orange-9);}
.b-right-orange-10 {border-right-color: var(--orange-10);}
.b-right-orange-11 {border-right-color: var(--orange-11);}
.b-right-orange-12 {border-right-color: var(--orange-12);}
.b-right-orange-13 {border-right-color: var(--orange-13);}
.b-right-deep-orange-0 {border-right-color: var(--deep-orange-0);}
.b-right-deep-orange-1 {border-right-color: var(--deep-orange-1);}
.b-right-deep-orange-2 {border-right-color: var(--deep-orange-2);}
.b-right-deep-orange-3 {border-right-color: var(--deep-orange-3);}
.b-right-deep-orange-4 {border-right-color: var(--deep-orange-4);}
.b-right-deep-orange-5 {border-right-color: var(--deep-orange-5);}
.b-right-deep-orange-6 {border-right-color: var(--deep-orange-6);}
.b-right-deep-orange-7 {border-right-color: var(--deep-orange-7);}
.b-right-deep-orange-8 {border-right-color: var(--deep-orange-8);}
.b-right-deep-orange-9 {border-right-color: var(--deep-orange-9);}
.b-right-deep-orange-10 {border-right-color: var(--deep-orange-10);}
.b-right-deep-orange-11 {border-right-color: var(--deep-orange-11);}
.b-right-deep-orange-12 {border-right-color: var(--deep-orange-12);}
.b-right-deep-orange-13 {border-right-color: var(--deep-orange-13);}
.b-right-brown-0 {border-right-color: var(--brown-0);}
.b-right-brown-1 {border-right-color: var(--brown-1);}
.b-right-brown-2 {border-right-color: var(--brown-2);}
.b-right-brown-3 {border-right-color: var(--brown-3);}
.b-right-brown-4 {border-right-color: var(--brown-4);}
.b-right-brown-5 {border-right-color: var(--brown-5);}
.b-right-brown-6 {border-right-color: var(--brown-6);}
.b-right-brown-7 {border-right-color: var(--brown-7);}
.b-right-brown-8 {border-right-color: var(--brown-8);}
.b-right-brown-9 {border-right-color: var(--brown-9);}
.b-right-grey-0 {border-right-color: var(--grey-0);}
.b-right-grey-1 {border-right-color: var(--grey-1);}
.b-right-grey-2 {border-right-color: var(--grey-2);}
.b-right-grey-3 {border-right-color: var(--grey-3);}
.b-right-grey-4 {border-right-color: var(--grey-4);}
.b-right-grey-5 {border-right-color: var(--grey-5);}
.b-right-grey-6 {border-right-color: var(--grey-6);}
.b-right-grey-7 {border-right-color: var(--grey-7);}
.b-right-grey-8 {border-right-color: var(--grey-8);}
.b-right-grey-9 {border-right-color: var(--grey-9);}
.b-right-blue-grey-0 {border-right-color: var(--blue-grey-0);}
.b-right-blue-grey-1 {border-right-color: var(--blue-grey-1);}
.b-right-blue-grey-2 {border-right-color: var(--blue-grey-2);}
.b-right-blue-grey-3 {border-right-color: var(--blue-grey-3);}
.b-right-blue-grey-4 {border-right-color: var(--blue-grey-4);}
.b-right-blue-grey-5 {border-right-color: var(--blue-grey-5);}
.b-right-blue-grey-6 {border-right-color: var(--blue-grey-6);}
.b-right-blue-grey-7 {border-right-color: var(--blue-grey-7);}
.b-right-blue-grey-8 {border-right-color: var(--blue-grey-8);}
.b-right-blue-grey-9 {border-right-color: var(--blue-grey-9);}
.b-right-black{border-right-color: var(--black);}
.b-right-white{border-right-color: var(--white);}
.b-bottom-red-0 {border-bottom-color: var(--red-0);}
.b-bottom-red-1 {border-bottom-color: var(--red-1);}
.b-bottom-red-2 {border-bottom-color: var(--red-2);}
.b-bottom-red-3 {border-bottom-color: var(--red-3);}
.b-bottom-red-4 {border-bottom-color: var(--red-4);}
.b-bottom-red-5 {border-bottom-color: var(--red-5);}
.b-bottom-red-6 {border-bottom-color: var(--red-6);}
.b-bottom-red-7 {border-bottom-color: var(--red-7);}
.b-bottom-red-8 {border-bottom-color: var(--red-8);}
.b-bottom-red-9 {border-bottom-color: var(--red-9);}
.b-bottom-red-10 {border-bottom-color: var(--red-10);}
.b-bottom-red-11 {border-bottom-color: var(--red-11);}
.b-bottom-red-12 {border-bottom-color: var(--red-12);}
.b-bottom-red-13 {border-bottom-color: var(--red-13);}
.b-bottom-pink-0 {border-bottom-color: var(--pink-0);}
.b-bottom-pink-1 {border-bottom-color: var(--pink-1);}
.b-bottom-pink-2 {border-bottom-color: var(--pink-2);}
.b-bottom-pink-3 {border-bottom-color: var(--pink-3);}
.b-bottom-pink-4 {border-bottom-color: var(--pink-4);}
.b-bottom-pink-5 {border-bottom-color: var(--pink-5);}
.b-bottom-pink-6 {border-bottom-color: var(--pink-6);}
.b-bottom-pink-7 {border-bottom-color: var(--pink-7);}
.b-bottom-pink-8 {border-bottom-color: var(--pink-8);}
.b-bottom-pink-9 {border-bottom-color: var(--pink-9);}
.b-bottom-pink-10 {border-bottom-color: var(--pink-10);}
.b-bottom-pink-11 {border-bottom-color: var(--pink-11);}
.b-bottom-pink-12 {border-bottom-color: var(--pink-12);}
.b-bottom-pink-13 {border-bottom-color: var(--pink-13);}
.b-bottom-purple-0 {border-bottom-color: var(--purple-0);}
.b-bottom-purple-1 {border-bottom-color: var(--purple-1);}
.b-bottom-purple-2 {border-bottom-color: var(--purple-2);}
.b-bottom-purple-3 {border-bottom-color: var(--purple-3);}
.b-bottom-purple-4 {border-bottom-color: var(--purple-4);}
.b-bottom-purple-5 {border-bottom-color: var(--purple-5);}
.b-bottom-purple-6 {border-bottom-color: var(--purple-6);}
.b-bottom-purple-7 {border-bottom-color: var(--purple-7);}
.b-bottom-purple-8 {border-bottom-color: var(--purple-8);}
.b-bottom-purple-9 {border-bottom-color: var(--purple-9);}
.b-bottom-purple-10 {border-bottom-color: var(--purple-10);}
.b-bottom-purple-11 {border-bottom-color: var(--purple-11);}
.b-bottom-purple-12 {border-bottom-color: var(--purple-12);}
.b-bottom-purple-13 {border-bottom-color: var(--purple-13);}
.b-bottom-deep-purple-0 {border-bottom-color: var(--deep-purple-0);}
.b-bottom-deep-purple-1 {border-bottom-color: var(--deep-purple-1);}
.b-bottom-deep-purple-2 {border-bottom-color: var(--deep-purple-2);}
.b-bottom-deep-purple-3 {border-bottom-color: var(--deep-purple-3);}
.b-bottom-deep-purple-4 {border-bottom-color: var(--deep-purple-4);}
.b-bottom-deep-purple-5 {border-bottom-color: var(--deep-purple-5);}
.b-bottom-deep-purple-6 {border-bottom-color: var(--deep-purple-6);}
.b-bottom-deep-purple-7 {border-bottom-color: var(--deep-purple-7);}
.b-bottom-deep-purple-8 {border-bottom-color: var(--deep-purple-8);}
.b-bottom-deep-purple-9 {border-bottom-color: var(--deep-purple-9);}
.b-bottom-deep-purple-10 {border-bottom-color: var(--deep-purple-10);}
.b-bottom-deep-purple-11 {border-bottom-color: var(--deep-purple-11);}
.b-bottom-deep-purple-12 {border-bottom-color: var(--deep-purple-12);}
.b-bottom-deep-purple-13 {border-bottom-color: var(--deep-purple-13);}
.b-bottom-indigo-0 {border-bottom-color: var(--indigo-0);}
.b-bottom-indigo-1 {border-bottom-color: var(--indigo-1);}
.b-bottom-indigo-2 {border-bottom-color: var(--indigo-2);}
.b-bottom-indigo-3 {border-bottom-color: var(--indigo-3);}
.b-bottom-indigo-4 {border-bottom-color: var(--indigo-4);}
.b-bottom-indigo-5 {border-bottom-color: var(--indigo-5);}
.b-bottom-indigo-6 {border-bottom-color: var(--indigo-6);}
.b-bottom-indigo-7 {border-bottom-color: var(--indigo-7);}
.b-bottom-indigo-8 {border-bottom-color: var(--indigo-8);}
.b-bottom-indigo-9 {border-bottom-color: var(--indigo-9);}
.b-bottom-indigo-10 {border-bottom-color: var(--indigo-10);}
.b-bottom-indigo-11 {border-bottom-color: var(--indigo-11);}
.b-bottom-indigo-12 {border-bottom-color: var(--indigo-12);}
.b-bottom-indigo-13 {border-bottom-color: var(--indigo-13);}
.b-bottom-blue-0 {border-bottom-color: var(--blue-0);}
.b-bottom-blue-1 {border-bottom-color: var(--blue-1);}
.b-bottom-blue-2 {border-bottom-color: var(--blue-2);}
.b-bottom-blue-3 {border-bottom-color: var(--blue-3);}
.b-bottom-blue-4 {border-bottom-color: var(--blue-4);}
.b-bottom-blue-5 {border-bottom-color: var(--blue-5);}
.b-bottom-blue-6 {border-bottom-color: var(--blue-6);}
.b-bottom-blue-7 {border-bottom-color: var(--blue-7);}
.b-bottom-blue-8 {border-bottom-color: var(--blue-8);}
.b-bottom-blue-9 {border-bottom-color: var(--blue-9);}
.b-bottom-blue-10 {border-bottom-color: var(--blue-10);}
.b-bottom-blue-11 {border-bottom-color: var(--blue-11);}
.b-bottom-blue-12 {border-bottom-color: var(--blue-12);}
.b-bottom-blue-13 {border-bottom-color: var(--blue-13);}
.b-bottom-light-blue-0 {border-bottom-color: var(--light-blue-0);}
.b-bottom-light-blue-1 {border-bottom-color: var(--light-blue-1);}
.b-bottom-light-blue-2 {border-bottom-color: var(--light-blue-2);}
.b-bottom-light-blue-3 {border-bottom-color: var(--light-blue-3);}
.b-bottom-light-blue-4 {border-bottom-color: var(--light-blue-4);}
.b-bottom-light-blue-5 {border-bottom-color: var(--light-blue-5);}
.b-bottom-light-blue-6 {border-bottom-color: var(--light-blue-6);}
.b-bottom-light-blue-7 {border-bottom-color: var(--light-blue-7);}
.b-bottom-light-blue-8 {border-bottom-color: var(--light-blue-8);}
.b-bottom-light-blue-9 {border-bottom-color: var(--light-blue-9);}
.b-bottom-light-blue-10 {border-bottom-color: var(--light-blue-10);}
.b-bottom-light-blue-11 {border-bottom-color: var(--light-blue-11);}
.b-bottom-light-blue-12 {border-bottom-color: var(--light-blue-12);}
.b-bottom-light-blue-13 {border-bottom-color: var(--light-blue-13);}
.b-bottom-cyan-0 {border-bottom-color: var(--cyan-0);}
.b-bottom-cyan-1 {border-bottom-color: var(--cyan-1);}
.b-bottom-cyan-2 {border-bottom-color: var(--cyan-2);}
.b-bottom-cyan-3 {border-bottom-color: var(--cyan-3);}
.b-bottom-cyan-4 {border-bottom-color: var(--cyan-4);}
.b-bottom-cyan-5 {border-bottom-color: var(--cyan-5);}
.b-bottom-cyan-6 {border-bottom-color: var(--cyan-6);}
.b-bottom-cyan-7 {border-bottom-color: var(--cyan-7);}
.b-bottom-cyan-8 {border-bottom-color: var(--cyan-8);}
.b-bottom-cyan-9 {border-bottom-color: var(--cyan-9);}
.b-bottom-cyan-10 {border-bottom-color: var(--cyan-10);}
.b-bottom-cyan-11 {border-bottom-color: var(--cyan-11);}
.b-bottom-cyan-12 {border-bottom-color: var(--cyan-12);}
.b-bottom-cyan-13 {border-bottom-color: var(--cyan-13);}
.b-bottom-teal-0 {border-bottom-color: var(--teal-0);}
.b-bottom-teal-1 {border-bottom-color: var(--teal-1);}
.b-bottom-teal-2 {border-bottom-color: var(--teal-2);}
.b-bottom-teal-3 {border-bottom-color: var(--teal-3);}
.b-bottom-teal-4 {border-bottom-color: var(--teal-4);}
.b-bottom-teal-5 {border-bottom-color: var(--teal-5);}
.b-bottom-teal-6 {border-bottom-color: var(--teal-6);}
.b-bottom-teal-7 {border-bottom-color: var(--teal-7);}
.b-bottom-teal-8 {border-bottom-color: var(--teal-8);}
.b-bottom-teal-9 {border-bottom-color: var(--teal-9);}
.b-bottom-teal-10 {border-bottom-color: var(--teal-10);}
.b-bottom-teal-11 {border-bottom-color: var(--teal-11);}
.b-bottom-teal-12 {border-bottom-color: var(--teal-12);}
.b-bottom-teal-13 {border-bottom-color: var(--teal-13);}
.b-bottom-green-0 {border-bottom-color: var(--green-0);}
.b-bottom-green-1 {border-bottom-color: var(--green-1);}
.b-bottom-green-2 {border-bottom-color: var(--green-2);}
.b-bottom-green-3 {border-bottom-color: var(--green-3);}
.b-bottom-green-4 {border-bottom-color: var(--green-4);}
.b-bottom-green-5 {border-bottom-color: var(--green-5);}
.b-bottom-green-6 {border-bottom-color: var(--green-6);}
.b-bottom-green-7 {border-bottom-color: var(--green-7);}
.b-bottom-green-8 {border-bottom-color: var(--green-8);}
.b-bottom-green-9 {border-bottom-color: var(--green-9);}
.b-bottom-green-10 {border-bottom-color: var(--green-10);}
.b-bottom-green-11 {border-bottom-color: var(--green-11);}
.b-bottom-green-12 {border-bottom-color: var(--green-12);}
.b-bottom-green-13 {border-bottom-color: var(--green-13);}
.b-bottom-light-green-0 {border-bottom-color: var(--light-green-0);}
.b-bottom-light-green-1 {border-bottom-color: var(--light-green-1);}
.b-bottom-light-green-2 {border-bottom-color: var(--light-green-2);}
.b-bottom-light-green-3 {border-bottom-color: var(--light-green-3);}
.b-bottom-light-green-4 {border-bottom-color: var(--light-green-4);}
.b-bottom-light-green-5 {border-bottom-color: var(--light-green-5);}
.b-bottom-light-green-6 {border-bottom-color: var(--light-green-6);}
.b-bottom-light-green-7 {border-bottom-color: var(--light-green-7);}
.b-bottom-light-green-8 {border-bottom-color: var(--light-green-8);}
.b-bottom-light-green-9 {border-bottom-color: var(--light-green-9);}
.b-bottom-light-green-10 {border-bottom-color: var(--light-green-10);}
.b-bottom-light-green-11 {border-bottom-color: var(--light-green-11);}
.b-bottom-light-green-12 {border-bottom-color: var(--light-green-12);}
.b-bottom-light-green-13 {border-bottom-color: var(--light-green-13);}
.b-bottom-lime-0 {border-bottom-color: var(--lime-0);}
.b-bottom-lime-1 {border-bottom-color: var(--lime-1);}
.b-bottom-lime-2 {border-bottom-color: var(--lime-2);}
.b-bottom-lime-3 {border-bottom-color: var(--lime-3);}
.b-bottom-lime-4 {border-bottom-color: var(--lime-4);}
.b-bottom-lime-5 {border-bottom-color: var(--lime-5);}
.b-bottom-lime-6 {border-bottom-color: var(--lime-6);}
.b-bottom-lime-7 {border-bottom-color: var(--lime-7);}
.b-bottom-lime-8 {border-bottom-color: var(--lime-8);}
.b-bottom-lime-9 {border-bottom-color: var(--lime-9);}
.b-bottom-lime-10 {border-bottom-color: var(--lime-10);}
.b-bottom-lime-11 {border-bottom-color: var(--lime-11);}
.b-bottom-lime-12 {border-bottom-color: var(--lime-12);}
.b-bottom-lime-13 {border-bottom-color: var(--lime-13);}
.b-bottom-yellow-0 {border-bottom-color: var(--yellow-0);}
.b-bottom-yellow-1 {border-bottom-color: var(--yellow-1);}
.b-bottom-yellow-2 {border-bottom-color: var(--yellow-2);}
.b-bottom-yellow-3 {border-bottom-color: var(--yellow-3);}
.b-bottom-yellow-4 {border-bottom-color: var(--yellow-4);}
.b-bottom-yellow-5 {border-bottom-color: var(--yellow-5);}
.b-bottom-yellow-6 {border-bottom-color: var(--yellow-6);}
.b-bottom-yellow-7 {border-bottom-color: var(--yellow-7);}
.b-bottom-yellow-8 {border-bottom-color: var(--yellow-8);}
.b-bottom-yellow-9 {border-bottom-color: var(--yellow-9);}
.b-bottom-yellow-10 {border-bottom-color: var(--yellow-10);}
.b-bottom-yellow-11 {border-bottom-color: var(--yellow-11);}
.b-bottom-yellow-12 {border-bottom-color: var(--yellow-12);}
.b-bottom-yellow-13 {border-bottom-color: var(--yellow-13);}
.b-bottom-amber-0 {border-bottom-color: var(--amber-0);}
.b-bottom-amber-1 {border-bottom-color: var(--amber-1);}
.b-bottom-amber-2 {border-bottom-color: var(--amber-2);}
.b-bottom-amber-3 {border-bottom-color: var(--amber-3);}
.b-bottom-amber-4 {border-bottom-color: var(--amber-4);}
.b-bottom-amber-5 {border-bottom-color: var(--amber-5);}
.b-bottom-amber-6 {border-bottom-color: var(--amber-6);}
.b-bottom-amber-7 {border-bottom-color: var(--amber-7);}
.b-bottom-amber-8 {border-bottom-color: var(--amber-8);}
.b-bottom-amber-9 {border-bottom-color: var(--amber-9);}
.b-bottom-amber-10 {border-bottom-color: var(--amber-10);}
.b-bottom-amber-11 {border-bottom-color: var(--amber-11);}
.b-bottom-amber-12 {border-bottom-color: var(--amber-12);}
.b-bottom-amber-13 {border-bottom-color: var(--amber-13);}
.b-bottom-orange-0 {border-bottom-color: var(--orange-0);}
.b-bottom-orange-1 {border-bottom-color: var(--orange-1);}
.b-bottom-orange-2 {border-bottom-color: var(--orange-2);}
.b-bottom-orange-3 {border-bottom-color: var(--orange-3);}
.b-bottom-orange-4 {border-bottom-color: var(--orange-4);}
.b-bottom-orange-5 {border-bottom-color: var(--orange-5);}
.b-bottom-orange-6 {border-bottom-color: var(--orange-6);}
.b-bottom-orange-7 {border-bottom-color: var(--orange-7);}
.b-bottom-orange-8 {border-bottom-color: var(--orange-8);}
.b-bottom-orange-9 {border-bottom-color: var(--orange-9);}
.b-bottom-orange-10 {border-bottom-color: var(--orange-10);}
.b-bottom-orange-11 {border-bottom-color: var(--orange-11);}
.b-bottom-orange-12 {border-bottom-color: var(--orange-12);}
.b-bottom-orange-13 {border-bottom-color: var(--orange-13);}
.b-bottom-deep-orange-0 {border-bottom-color: var(--deep-orange-0);}
.b-bottom-deep-orange-1 {border-bottom-color: var(--deep-orange-1);}
.b-bottom-deep-orange-2 {border-bottom-color: var(--deep-orange-2);}
.b-bottom-deep-orange-3 {border-bottom-color: var(--deep-orange-3);}
.b-bottom-deep-orange-4 {border-bottom-color: var(--deep-orange-4);}
.b-bottom-deep-orange-5 {border-bottom-color: var(--deep-orange-5);}
.b-bottom-deep-orange-6 {border-bottom-color: var(--deep-orange-6);}
.b-bottom-deep-orange-7 {border-bottom-color: var(--deep-orange-7);}
.b-bottom-deep-orange-8 {border-bottom-color: var(--deep-orange-8);}
.b-bottom-deep-orange-9 {border-bottom-color: var(--deep-orange-9);}
.b-bottom-deep-orange-10 {border-bottom-color: var(--deep-orange-10);}
.b-bottom-deep-orange-11 {border-bottom-color: var(--deep-orange-11);}
.b-bottom-deep-orange-12 {border-bottom-color: var(--deep-orange-12);}
.b-bottom-deep-orange-13 {border-bottom-color: var(--deep-orange-13);}
.b-bottom-brown-0 {border-bottom-color: var(--brown-0);}
.b-bottom-brown-1 {border-bottom-color: var(--brown-1);}
.b-bottom-brown-2 {border-bottom-color: var(--brown-2);}
.b-bottom-brown-3 {border-bottom-color: var(--brown-3);}
.b-bottom-brown-4 {border-bottom-color: var(--brown-4);}
.b-bottom-brown-5 {border-bottom-color: var(--brown-5);}
.b-bottom-brown-6 {border-bottom-color: var(--brown-6);}
.b-bottom-brown-7 {border-bottom-color: var(--brown-7);}
.b-bottom-brown-8 {border-bottom-color: var(--brown-8);}
.b-bottom-brown-9 {border-bottom-color: var(--brown-9);}
.b-bottom-grey-0 {border-bottom-color: var(--grey-0);}
.b-bottom-grey-1 {border-bottom-color: var(--grey-1);}
.b-bottom-grey-2 {border-bottom-color: var(--grey-2);}
.b-bottom-grey-3 {border-bottom-color: var(--grey-3);}
.b-bottom-grey-4 {border-bottom-color: var(--grey-4);}
.b-bottom-grey-5 {border-bottom-color: var(--grey-5);}
.b-bottom-grey-6 {border-bottom-color: var(--grey-6);}
.b-bottom-grey-7 {border-bottom-color: var(--grey-7);}
.b-bottom-grey-8 {border-bottom-color: var(--grey-8);}
.b-bottom-grey-9 {border-bottom-color: var(--grey-9);}
.b-bottom-blue-grey-0 {border-bottom-color: var(--blue-grey-0);}
.b-bottom-blue-grey-1 {border-bottom-color: var(--blue-grey-1);}
.b-bottom-blue-grey-2 {border-bottom-color: var(--blue-grey-2);}
.b-bottom-blue-grey-3 {border-bottom-color: var(--blue-grey-3);}
.b-bottom-blue-grey-4 {border-bottom-color: var(--blue-grey-4);}
.b-bottom-blue-grey-5 {border-bottom-color: var(--blue-grey-5);}
.b-bottom-blue-grey-6 {border-bottom-color: var(--blue-grey-6);}
.b-bottom-blue-grey-7 {border-bottom-color: var(--blue-grey-7);}
.b-bottom-blue-grey-8 {border-bottom-color: var(--blue-grey-8);}
.b-bottom-blue-grey-9 {border-bottom-color: var(--blue-grey-9);}
.b-bottom-black{border-bottom-color: var(--black);}
.b-bottom-white{border-bottom-color: var(--white);}
