/*Button style*/
.btn {
	display: inline-block;
	padding: var(--small) var(--large);
	font-size: inherit;
	border: 0px;
	font-family: roboto;
}
.btn:hover, .btn:focus {
	-moz-box-shadow:    inset 0px 2px 0px 0px #585858;
	-webkit-box-shadow: inset 0px 2px 0px 0px #585858;
	box-shadow:         inset 0px 2px 0px 0px #585858;
	cursor: pointer;
}
.btn:focus {
	outline: 0px;
}

.btn-rounded {
	border-radius: var(--large);
}
a:hover {
	text-decoration: underline;
}
a.btn:hover {
	text-decoration: none;
}