/*Color CSS*/

:root {
	/*Red Color*/
	--red-0: #FFEBEE;
	--red-1: #FFCDD2;
	--red-2: #EF9A9A;
	--red-3: #E57373;
	--red-4: #EF5350;
	--red-5: #F44336;
	--red-6: #E53935;
	--red-7: #D32F2F;
	--red-8: #C62828;
	--red-9: #B71C1C;

	--red-10: #FF8A80;
	--red-11: #FF5252;
	--red-12: #FF1744;
	--red-13: #D50000;

	/*Pink Color*/
	--pink-0: #FCE4EC;
	--pink-1: #F8BBD0;
	--pink-2: #F48FB1;
	--pink-3: #F06292;
	--pink-4: #EC407A;
	--pink-5: #E91E63;
	--pink-6: #D81B60;
	--pink-7: #C2185B;
	--pink-8: #AD1457;
	--pink-9: #880E4F;

	--pink-10: #FF80AB;
	--pink-11: #FF4081;
	--pink-12: #F50057;
	--pink-13: #C51162;

	/*purple Color*/
	--purple-0: #F3E5F5;
	--purple-1: #E1BEE7;
	--purple-2: #CE93D8;
	--purple-3: #BA68C8;
	--purple-4: #AB47BC;
	--purple-5: #9C27B0;
	--purple-6: #8E24AA;
	--purple-7: #7B1FA2;
	--purple-8: #6A1B9A;
	--purple-9: #4A148C;

	--purple-10: #EA80FC;
	--purple-11: #E040FB;
	--purple-12: #D500F9;
	--purple-13: #AA00FF;

	/*deep purple Color*/
	--deep-purple-0: #EDE7F6;
	--deep-purple-1: #D1C4E9;
	--deep-purple-2: #B39DDB;
	--deep-purple-3: #9575CD;
	--deep-purple-4: #7E57C2;
	--deep-purple-5: #673AB7;
	--deep-purple-6: #5E35B1;
	--deep-purple-7: #512DA8;
	--deep-purple-8: #4527A0;
	--deep-purple-9: #311B92;

	--deep-purple-10: #B388FF;
	--deep-purple-11: #7C4DFF;
	--deep-purple-12: #651FFF;
	--deep-purple-13: #6200EA;

	/*Indigo Color*/
	--indigo-0: #E8EAF6;
	--indigo-1: #C5CAE9;
	--indigo-2: #9FA8DA;
	--indigo-3: #7986CB;
	--indigo-4: #5C6BC0;
	--indigo-5: #3F51B5;
	--indigo-6: #3949AB;
	--indigo-7: #303F9F;
	--indigo-8: #283593;
	--indigo-9: #1A237E;

	--indigo-10: #8C9EFF;
	--indigo-11: #536DFE;
	--indigo-12: #3D5AFE;
	--indigo-13: #304FFE;

	/*Blue Color*/
	--blue-0: #E3F2FD;
	--blue-1: #BBDEFB;
	--blue-2: #90CAF9;
	--blue-3: #64B5F6;
	--blue-4: #42A5F5;
	--blue-5: #2196F3;
	--blue-6: #1E88E5;
	--blue-7: #1976D2;
	--blue-8: #1565C0;
	--blue-9: #0D47A1;

	--blue-10: #82B1FF;
	--blue-11: #448AFF;
	--blue-12: #2979FF;
	--blue-13: #2962FF;

	/*Light Blue Color*/
	--light-blue-0: #E1F5FE;
	--light-blue-1: #B3E5FC;
	--light-blue-2: #81D4FA;
	--light-blue-3: #4FC3F7;
	--light-blue-4: #29B6F6;
	--light-blue-5: #03A9F4;
	--light-blue-6: #039BE5;
	--light-blue-7: #0288D1;
	--light-blue-8: #0277BD;
	--light-blue-9: #01579B;

	--light-blue-10: #80D8FF;
	--light-blue-11: #40C4FF;
	--light-blue-12: #00B0FF;
	--light-blue-13: #0091EA;

	/*Cyan Color*/
	--cyan-0: #E0F7FA;
	--cyan-1: #B2EBF2;
	--cyan-2: #80DEEA;
	--cyan-3: #4DD0E1;
	--cyan-4: #26C6DA;
	--cyan-5: #00BCD4;
	--cyan-6: #00ACC1;
	--cyan-7: #0097A7;
	--cyan-8: #00838F;
	--cyan-9: #006064;

	--cyan-10: #84FFFF;
	--cyan-11: #18FFFF;
	--cyan-12: #00E5FF;
	--cyan-13: #00B8D4;

	/*Teal Color*/
	--teal-0: #E0F2F1;
	--teal-1: #B2DFDB;
	--teal-2: #80CBC4;
	--teal-3: #4DB6AC;
	--teal-4: #26A69A;
	--teal-5: #009688;
	--teal-6: #00897B;
	--teal-7: #00796B;
	--teal-8: #00695C;
	--teal-9: #004D40;

	--teal-10: #A7FFEB;
	--teal-11: #64FFDA;
	--teal-12: #1DE9B6;
	--teal-13: #00BFA5;

	/*Green Color*/
	--green-0: #E8F5E9;
	--green-1: #C8E6C9;
	--green-2: #A5D6A7;
	--green-3: #81C784;
	--green-4: #66BB6A;
	--green-5: #4CAF50;
	--green-6: #43A047;
	--green-7: #388E3C;
	--green-8: #2E7D32;
	--green-9: #1B5E20;

	--green-10: #B9F6CA;
	--green-11: #69F0AE;
	--green-12: #00E676;
	--green-13: #00C853;

	/*Light Green Color*/
	--light-green-0: #F1F8E9;
	--light-green-1: #DCEDC8;
	--light-green-2: #C5E1A5;
	--light-green-3: #AED581;
	--light-green-4: #9CCC65;
	--light-green-5: #8BC34A;
	--light-green-6: #7CB342;
	--light-green-7: #689F38;
	--light-green-8: #558B2F;
	--light-green-9: #33691E;

	--light-green-10: #CCFF90;
	--light-green-11: #B2FF59;
	--light-green-12: #76FF03;
	--light-green-13: #64DD17;

	/*Lime Color*/
	--lime-0: #F9FBE7;
	--lime-1: #F0F4C3;
	--lime-2: #E6EE9C;
	--lime-3: #DCE775;
	--lime-4: #D4E157;
	--lime-5: #CDDC39;
	--lime-6: #C0CA33;
	--lime-7: #AFB42B;
	--lime-8: #9E9D24;
	--lime-9: #827717;

	--lime-10: #F4FF81;
	--lime-11: #EEFF41;
	--lime-12: #C6FF00;
	--lime-13: #AEEA00;

	/*Yellow Color*/
	--yellow-0: #FFFDE7;
	--yellow-1: #FFF9C4;
	--yellow-2: #FFF59D;
	--yellow-3: #FFF176;
	--yellow-4: #FFEE58;
	--yellow-5: #FFEB3B;
	--yellow-6: #FDD835;
	--yellow-7: #FBC02D;
	--yellow-8: #F9A825;
	--yellow-9: #F57F17;

	--yellow-10: #FFFF8D;
	--yellow-11: #FFFF00;
	--yellow-12: #FFEA00;
	--yellow-13: #FFD600;

	/*Amber Color*/
	--amber-0: #FFF8E1;
	--amber-1: #FFECB3;
	--amber-2: #FFE082;
	--amber-3: #FFD54F;
	--amber-4: #FFCA28;
	--amber-5: #FFC107;
	--amber-6: #FFB300;
	--amber-7: #FFA000;
	--amber-8: #FF8F00;
	--amber-9: #FF6F00;

	--amber-10: #FFE57F;
	--amber-11: #FFD740;
	--amber-12: #FFC400;
	--amber-13: #FFAB00;

	/*Orange Color*/
	--orange-0: #FFF3E0;
	--orange-1: #FFE0B2;
	--orange-2: #FFCC80;
	--orange-3: #FFB74D;
	--orange-4: #FFA726;
	--orange-5: #FF9800;
	--orange-6: #FB8C00;
	--orange-7: #F57C00;
	--orange-8: #EF6C00;
	--orange-9: #E65100;

	--orange-10: #FFD180;
	--orange-11: #FFAB40;
	--orange-12: #FF9100;
	--orange-13: #FF6D00;

	/*Deep Orange Color*/
	--deep-orange-0: #FBE9E7;
	--deep-orange-1: #FFCCBC;
	--deep-orange-2: #FFAB91;
	--deep-orange-3: #FF8A65;
	--deep-orange-4: #FF7043;
	--deep-orange-5: #FF5722;
	--deep-orange-6: #F4511E;
	--deep-orange-7: #E64A19;
	--deep-orange-8: #D84315;
	--deep-orange-9: #BF360C;

	--deep-orange-10: #FF9E80;
	--deep-orange-11: #FF6E40;
	--deep-orange-12: #FF3D00;
	--deep-orange-13: #DD2C00;

	/*Brown Color*/
	--brown-0: #EFEBE9;
	--brown-1: #D7CCC8;
	--brown-2: #BCAAA4;
	--brown-3: #A1887F;
	--brown-4: #8D6E63;
	--brown-5: #795548;
	--brown-6: #6D4C41;
	--brown-7: #5D4037;
	--brown-8: #4E342E;
	--brown-9: #3E2723;

	/*Grey Color*/
	--grey-0: #FAFAFA;
	--grey-1: #F5F5F5;
	--grey-2: #EEEEEE;
	--grey-3: #E0E0E0;
	--grey-4: #BDBDBD;
	--grey-5: #9E9E9E;
	--grey-6: #757575;
	--grey-7: #616161;
	--grey-8: #424242;
	--grey-9: #212121;

	/*Blue Grey Color*/
	--blue-grey-0: #ECEFF1;
	--blue-grey-1: #CFD8DC;
	--blue-grey-2: #B0BEC5;
	--blue-grey-3: #90A4AE;
	--blue-grey-4: #78909C;
	--blue-grey-5: #607D8B;
	--blue-grey-6: #546E7A;
	--blue-grey-7: #455A64;
	--blue-grey-8: #37474F;
	--blue-grey-9: #263238;

	--black: #000000;
	--white: #FFFFFF;
}

body {
	color: var(--grey-8);
}

/*Background Red*/
.bg-red-0 {background-color: var(--red-0);}
.bg-red-1 {background-color: var(--red-1);}
.bg-red-2 {background-color: var(--red-2);}
.bg-red-3 {background-color: var(--red-3);}
.bg-red-4 {background-color: var(--red-4);color:white;}
.bg-red-5 {background-color: var(--red-5);color:white;}
.bg-red-6 {background-color: var(--red-6);color:white;}
.bg-red-7 {background-color: var(--red-7);color:white;}
.bg-red-8 {background-color: var(--red-8);color:white;}
.bg-red-9 {background-color: var(--red-9);color:white;}

.bg-red-10 {background-color: var(--red-10);}
.bg-red-11 {background-color: var(--red-11);color:white;}
.bg-red-12 {background-color: var(--red-12);color:white;}
.bg-red-13 {background-color: var(--red-13);color:white;}

/*Background Pink*/
.bg-pink-0 {background-color: var(--pink-0);}
.bg-pink-1 {background-color: var(--pink-1);}
.bg-pink-2 {background-color: var(--pink-2);}
.bg-pink-3 {background-color: var(--pink-3);color:white;}
.bg-pink-4 {background-color: var(--pink-4);color:white;}
.bg-pink-5 {background-color: var(--pink-5);color:white;}
.bg-pink-6 {background-color: var(--pink-6);color:white;}
.bg-pink-7 {background-color: var(--pink-7);color:white;}
.bg-pink-8 {background-color: var(--pink-8);color:white;}
.bg-pink-9 {background-color: var(--pink-9);color:white;}

.bg-pink-10 {background-color: var(--pink-10);}
.bg-pink-11 {background-color: var(--pink-11);color:white;}
.bg-pink-12 {background-color: var(--pink-12);color:white;}
.bg-pink-13 {background-color: var(--pink-13);color:white;}

/*Background purple*/
.bg-purple-0 {background-color: var(--purple-0);}
.bg-purple-1 {background-color: var(--purple-1);}
.bg-purple-2 {background-color: var(--purple-2);}
.bg-purple-3 {background-color: var(--purple-3);color:white;}
.bg-purple-4 {background-color: var(--purple-4);color:white;}
.bg-purple-5 {background-color: var(--purple-5);color:white;}
.bg-purple-6 {background-color: var(--purple-6);color:white;}
.bg-purple-7 {background-color: var(--purple-7);color:white;}
.bg-purple-8 {background-color: var(--purple-8);color:white;}
.bg-purple-9 {background-color: var(--purple-9);color:white;}

.bg-purple-10 {background-color: var(--purple-10);}
.bg-purple-11 {background-color: var(--purple-11);color:white;}
.bg-purple-12 {background-color: var(--purple-12);color:white;}
.bg-purple-13 {background-color: var(--purple-13);color:white;}

/*Background deep purple*/
.bg-deep-purple-0 {background-color: var(--deep-purple-0);}
.bg-deep-purple-1 {background-color: var(--deep-purple-1);}
.bg-deep-purple-2 {background-color: var(--deep-purple-2);}
.bg-deep-purple-3 {background-color: var(--deep-purple-3);color:white;}
.bg-deep-purple-4 {background-color: var(--deep-purple-4);color:white;}
.bg-deep-purple-5 {background-color: var(--deep-purple-5);color:white;}
.bg-deep-purple-6 {background-color: var(--deep-purple-6);color:white;}
.bg-deep-purple-7 {background-color: var(--deep-purple-7);color:white;}
.bg-deep-purple-8 {background-color: var(--deep-purple-8);color:white;}
.bg-deep-purple-9 {background-color: var(--deep-purple-9);color:white;}

.bg-deep-purple-10 {background-color: var(--deep-purple-10);}
.bg-deep-purple-11 {background-color: var(--deep-purple-11);color:white;}
.bg-deep-purple-12 {background-color: var(--deep-purple-12);color:white;}
.bg-deep-purple-13 {background-color: var(--deep-purple-13);color:white;}

/*Background indigo*/
.bg-indigo-0 {background-color: var(--indigo-0);}
.bg-indigo-1 {background-color: var(--indigo-1);}
.bg-indigo-2 {background-color: var(--indigo-2);}
.bg-indigo-3 {background-color: var(--indigo-3);color:white;}
.bg-indigo-4 {background-color: var(--indigo-4);color:white;}
.bg-indigo-5 {background-color: var(--indigo-5);color:white;}
.bg-indigo-6 {background-color: var(--indigo-6);color:white;}
.bg-indigo-7 {background-color: var(--indigo-7);color:white;}
.bg-indigo-8 {background-color: var(--indigo-8);color:white;}
.bg-indigo-9 {background-color: var(--indigo-9);color:white;}

.bg-indigo-10 {background-color: var(--indigo-10);}
.bg-indigo-11 {background-color: var(--indigo-11);color:white;}
.bg-indigo-12 {background-color: var(--indigo-12);color:white;}
.bg-indigo-13 {background-color: var(--indigo-13);color:white;}


/*Background Blue*/
.bg-blue-0 {background-color: var(--blue-0);}
.bg-blue-1 {background-color: var(--blue-1);}
.bg-blue-2 {background-color: var(--blue-2);}
.bg-blue-3 {background-color: var(--blue-3);}
.bg-blue-4 {background-color: var(--blue-4);}
.bg-blue-5 {background-color: var(--blue-5);color:white;}
.bg-blue-6 {background-color: var(--blue-6);color:white;}
.bg-blue-7 {background-color: var(--blue-7);color:white;}
.bg-blue-8 {background-color: var(--blue-8);color:white;}
.bg-blue-9 {background-color: var(--blue-9);color:white;}

.bg-blue-10 {background-color: var(--blue-10);}
.bg-blue-11 {background-color: var(--blue-11);color:white;}
.bg-blue-12 {background-color: var(--blue-12);color:white;}
.bg-blue-13 {background-color: var(--blue-13);color:white;}

/*Background Light Blue*/
.bg-light-blue-0 {background-color: var(--light-blue-0);}
.bg-light-blue-1 {background-color: var(--light-blue-1);}
.bg-light-blue-2 {background-color: var(--light-blue-2);}
.bg-light-blue-3 {background-color: var(--light-blue-3);}
.bg-light-blue-4 {background-color: var(--light-blue-4);}
.bg-light-blue-5 {background-color: var(--light-blue-5);}
.bg-light-blue-6 {background-color: var(--light-blue-6);color:white;}
.bg-light-blue-7 {background-color: var(--light-blue-7);color:white;}
.bg-light-blue-8 {background-color: var(--light-blue-8);color:white;}
.bg-light-blue-9 {background-color: var(--light-blue-9);color:white;}

.bg-light-blue-10 {background-color: var(--light-blue-10);}
.bg-light-blue-11 {background-color: var(--light-blue-11);}
.bg-light-blue-12 {background-color: var(--light-blue-12);}
.bg-light-blue-13 {background-color: var(--light-blue-13);color:white;}


/*Background Cyan*/
.bg-cyan-0 {background-color: var(--cyan-0);}
.bg-cyan-1 {background-color: var(--cyan-1);}
.bg-cyan-2 {background-color: var(--cyan-2);}
.bg-cyan-3 {background-color: var(--cyan-3);}
.bg-cyan-4 {background-color: var(--cyan-4);}
.bg-cyan-5 {background-color: var(--cyan-5);}
.bg-cyan-6 {background-color: var(--cyan-6);}
.bg-cyan-7 {background-color: var(--cyan-7);color:white;}
.bg-cyan-8 {background-color: var(--cyan-8);color:white;}
.bg-cyan-9 {background-color: var(--cyan-9);color:white;}

.bg-cyan-10 {background-color: var(--cyan-10);}
.bg-cyan-11 {background-color: var(--cyan-11);}
.bg-cyan-12 {background-color: var(--cyan-12);}
.bg-cyan-13 {background-color: var(--cyan-13);}

/*Background Teal*/
.bg-teal-0 {background-color: var(--teal-0);}
.bg-teal-1 {background-color: var(--teal-1);}
.bg-teal-2 {background-color: var(--teal-2);}
.bg-teal-3 {background-color: var(--teal-3);}
.bg-teal-4 {background-color: var(--teal-4);}
.bg-teal-5 {background-color: var(--teal-5);color:white;}
.bg-teal-6 {background-color: var(--teal-6);color:white;}
.bg-teal-7 {background-color: var(--teal-7);color:white;}
.bg-teal-8 {background-color: var(--teal-8);color:white;}
.bg-teal-9 {background-color: var(--teal-9);color:white;}

.bg-teal-10 {background-color: var(--teal-10);}
.bg-teal-11 {background-color: var(--teal-11);}
.bg-teal-12 {background-color: var(--teal-12);}
.bg-teal-13 {background-color: var(--teal-13);}

/*Background Green */
.bg-green-0 {background-color: var(--green-0);}
.bg-green-1 {background-color: var(--green-1);}
.bg-green-2 {background-color: var(--green-2);}
.bg-green-3 {background-color: var(--green-3);}
.bg-green-4 {background-color: var(--green-4);}
.bg-green-5 {background-color: var(--green-5);}
.bg-green-6 {background-color: var(--green-6);color:white;}
.bg-green-7 {background-color: var(--green-7);color:white;}
.bg-green-8 {background-color: var(--green-8);color:white;}
.bg-green-9 {background-color: var(--green-9);color:white;}

.bg-green-10 {background-color: var(--green-10);}
.bg-green-11 {background-color: var(--green-11);}
.bg-green-12 {background-color: var(--green-12);}
.bg-green-13 {background-color: var(--green-13);}

/*Background Light Green*/
.bg-light-green-0 {background-color: var(--light-green-0);}
.bg-light-green-1 {background-color: var(--light-green-1);}
.bg-light-green-2 {background-color: var(--light-green-2);}
.bg-light-green-3 {background-color: var(--light-green-3);}
.bg-light-green-4 {background-color: var(--light-green-4);}
.bg-light-green-5 {background-color: var(--light-green-5);}
.bg-light-green-6 {background-color: var(--light-green-6);}
.bg-light-green-7 {background-color: var(--light-green-7);color:white;}
.bg-light-green-8 {background-color: var(--light-green-8);color:white;}
.bg-light-green-9 {background-color: var(--light-green-9);color:white;}

.bg-light-green-10 {background-color: var(--light-green-10);}
.bg-light-green-11 {background-color: var(--light-green-11);}
.bg-light-green-12 {background-color: var(--light-green-12);}
.bg-light-green-13 {background-color: var(--light-green-13);}

/*Background Lime*/
.bg-lime-0 {background-color: var(--lime-0);}
.bg-lime-1 {background-color: var(--lime-1);}
.bg-lime-2 {background-color: var(--lime-2);}
.bg-lime-3 {background-color: var(--lime-3);}
.bg-lime-4 {background-color: var(--lime-4);}
.bg-lime-5 {background-color: var(--lime-5);}
.bg-lime-6 {background-color: var(--lime-6);}
.bg-lime-7 {background-color: var(--lime-7);}
.bg-lime-8 {background-color: var(--lime-8);}
.bg-lime-9 {background-color: var(--lime-9);color:white;}

.bg-lime-10 {background-color: var(--lime-10);}
.bg-lime-11 {background-color: var(--lime-11);}
.bg-lime-12 {background-color: var(--lime-12);}
.bg-lime-13 {background-color: var(--lime-13);}

/*Yellow Color*/
.bg-yellow-0 {background-color: var(--yellow-0);}
.bg-yellow-1 {background-color: var(--yellow-1);}
.bg-yellow-2 {background-color: var(--yellow-2);}
.bg-yellow-3 {background-color: var(--yellow-3);}
.bg-yellow-4 {background-color: var(--yellow-4);}
.bg-yellow-5 {background-color: var(--yellow-5);}
.bg-yellow-6 {background-color: var(--yellow-6);}
.bg-yellow-7 {background-color: var(--yellow-7);}
.bg-yellow-8 {background-color: var(--yellow-8);}
.bg-yellow-9 {background-color: var(--yellow-9);}

.bg-yellow-10 {background-color: var(--yellow-10);}
.bg-yellow-11 {background-color: var(--yellow-11);}
.bg-yellow-12 {background-color: var(--yellow-12);}
.bg-yellow-13 {background-color: var(--yellow-13);}

/*Amber Color*/
.bg-amber-0 {background-color: var(--amber-0);}
.bg-amber-1 {background-color: var(--amber-1);}
.bg-amber-2 {background-color: var(--amber-2);}
.bg-amber-3 {background-color: var(--amber-3);}
.bg-amber-4 {background-color: var(--amber-4);}
.bg-amber-5 {background-color: var(--amber-5);}
.bg-amber-6 {background-color: var(--amber-6);}
.bg-amber-7 {background-color: var(--amber-7);}
.bg-amber-8 {background-color: var(--amber-8);}
.bg-amber-9 {background-color: var(--amber-9);}

.bg-amber-10 {background-color: var(--amber-10);}
.bg-amber-11 {background-color: var(--amber-11);}
.bg-amber-12 {background-color: var(--amber-12);}
.bg-amber-13 {background-color: var(--amber-13);}

/*Orange Color*/
.bg-orange-0 {background-color: var(--orange-0);}
.bg-orange-1 {background-color: var(--orange-1);}
.bg-orange-2 {background-color: var(--orange-2);}
.bg-orange-3 {background-color: var(--orange-3);}
.bg-orange-4 {background-color: var(--orange-4);}
.bg-orange-5 {background-color: var(--orange-5);}
.bg-orange-6 {background-color: var(--orange-6);}
.bg-orange-7 {background-color: var(--orange-7);}
.bg-orange-8 {background-color: var(--orange-8);color:white;}
.bg-orange-9 {background-color: var(--orange-9);color:white;}

.bg-orange-10 {background-color: var(--orange-10);}
.bg-orange-11 {background-color: var(--orange-11);}
.bg-orange-12 {background-color: var(--orange-12);}
.bg-orange-13 {background-color: var(--orange-13);}

/*Deep Orange Color*/
.bg-deep-orange-0 {background-color: var(--deep-orange-0);}
.bg-deep-orange-1 {background-color: var(--deep-orange-1);}
.bg-deep-orange-2 {background-color: var(--deep-orange-2);}
.bg-deep-orange-3 {background-color: var(--deep-orange-3);}
.bg-deep-orange-4 {background-color: var(--deep-orange-4);}
.bg-deep-orange-5 {background-color: var(--deep-orange-5);color:white;}
.bg-deep-orange-6 {background-color: var(--deep-orange-6);color:white;}
.bg-deep-orange-7 {background-color: var(--deep-orange-7);color:white;}
.bg-deep-orange-8 {background-color: var(--deep-orange-8);color:white;}
.bg-deep-orange-9 {background-color: var(--deep-orange-9);color:white;}

.bg-deep-orange-10 {background-color: var(--deep-orange-10);}
.bg-deep-orange-11 {background-color: var(--deep-orange-11);}
.bg-deep-orange-12 {background-color: var(--deep-orange-12);color:white;}
.bg-deep-orange-13 {background-color: var(--deep-orange-13);color:white;}

/*Brown Color*/
.bg-brown-0 {background-color: var(--brown-0);}
.bg-brown-1 {background-color: var(--brown-1);}
.bg-brown-2 {background-color: var(--brown-2);}
.bg-brown-3 {background-color: var(--brown-3);color:white;}
.bg-brown-4 {background-color: var(--brown-4);color:white;}
.bg-brown-5 {background-color: var(--brown-5);color:white;}
.bg-brown-6 {background-color: var(--brown-6);color:white;}
.bg-brown-7 {background-color: var(--brown-7);color:white;}
.bg-brown-8 {background-color: var(--brown-8);color:white;}
.bg-brown-9 {background-color: var(--brown-9);color:white;}

/*Grey Color*/
.bg-grey-0 {background-color: var(--grey-0);}
.bg-grey-1 {background-color: var(--grey-1);}
.bg-grey-2 {background-color: var(--grey-2);}
.bg-grey-3 {background-color: var(--grey-3);}
.bg-grey-4 {background-color: var(--grey-4);}
.bg-grey-5 {background-color: var(--grey-5);}
.bg-grey-6 {background-color: var(--grey-6);color:white;}
.bg-grey-7 {background-color: var(--grey-7);color:white;}
.bg-grey-8 {background-color: var(--grey-8);color:white;}
.bg-grey-9 {background-color: var(--grey-9);color:white;}

/*Blue Grey Color*/
.bg-blue-grey-0 {background-color: var(--blue-grey-0);}
.bg-blue-grey-1 {background-color: var(--blue-grey-1);}
.bg-blue-grey-2 {background-color: var(--blue-grey-2);}
.bg-blue-grey-3 {background-color: var(--blue-grey-3);}
.bg-blue-grey-4 {background-color: var(--blue-grey-4);color:white;}
.bg-blue-grey-5 {background-color: var(--blue-grey-5);color:white;}
.bg-blue-grey-6 {background-color: var(--blue-grey-6);color:white;}
.bg-blue-grey-7 {background-color: var(--blue-grey-7);color:white;}
.bg-blue-grey-8 {background-color: var(--blue-grey-8);color:white;}
.bg-blue-grey-9 {background-color: var(--blue-grey-9);color:white;}

.bg-black {background-color: var(--black);color:white;}
.bg-white {background-color: var(--white);}
