/*Section Style*/
.section-full {
	width: 100%;
}
.section-box {
	margin-left: auto;
	margin-right: auto;
	display: block;
    overflow: hidden;
}

/*Row Style*/
.row {
	margin-left: var(--min-large);
	margin-right: var(--min-large);
}
.row::after {
	clear: both;
	display: table;
    content: " ";
}
.row::before {
	clear: both;
	display: table;
    content: " ";
}

 /*Flex Style*/
.flex {
	float: left;
	width: 100%;
}
.flex, .flex-box, .flex-row-left, .flex-row-right, .flex-col-top, .flex-col-bottom {
	display: flex;
	display: -webkit-flex; /* Safari */
}
.flex-box {
	-webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */
    flex: 1;
    padding-left: var(--large);
	padding-right: var(--large);
}
.flex-row-left {
	flex-direction:row;
	flex-wrap: wrap;
    -webkit-flex-wrap: wrap;

}
.flex-row-right {
	flex-direction:row-reverse;
	flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}
.flex-col-top {
	flex-direction:column;
	flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}
.flex-col-bottom {
	flex-direction:column-reverse;
	flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}
.flex-wrap {
	flex-wrap:wrap;
}

/*gd System Sytle*/
.gd-xs-1, .gd-xs-2, .gd-xs-3, .gd-xs-4, .gd-xs-5, .gd-xs-6, .gd-xs-7, .gd-xs-8, .gd-xs-9, .gd-xs-10, .gd-xs-11, .gd-xs-12 {
	position: relative;
	float: left;
	min-height: 1px;
	padding-left: var(--large);
	padding-right: var(--large);
}

.gd-xs-1 {
	width: 8.33333333%;
}
.gd-xs-2 {
	width: 16.66666667%;
}
.gd-xs-3 {
	width: 25%;
}
.gd-xs-4 {
	width: 33.33333333%;
}
.gd-xs-5 {
	width: 41.66666667%;
}
.gd-xs-6 {
	width: 50%;
}
.gd-xs-7 {
	width: 58.33333333%;
}
.gd-xs-8 {
	width: 66.66666667%;
}
.gd-xs-9 {
	width: 75%;
}
.gd-xs-10 {
	width: 83.33333333%;
}
.gd-xs-11 {
	width: 91.66666667%;
}
.gd-xs-12 {
	width: 100%;
}

.gd-xs-offset-1 {
	margin-left: 8.33333333%;
}
.gd-xs-offset-2 {
	margin-left: 16.66666667%;
}
.gd-xs-offset-3 {
	margin-left: 25%;
}
.gd-xs-offset-4 {
	margin-left: 33.33333333%;
}
.gd-xs-offset-5 {
	margin-left: 41.66666667%;
}
.gd-xs-offset-6 {
	margin-left: 50%;
}
.gd-xs-offset-7 {
	margin-left: 58.33333333%;
}
.gd-xs-offset-8 {
	margin-left: 66.66666667%;
}
.gd-xs-offset-9 {
	margin-left: 75%;
}
.gd-xs-offset-10 {
	margin-left: 83.33333333%;
}
.gd-xs-offset-11 {
	margin-left: 91.66666667%;
}

/*Mobile View*/
@media screen and (max-width: 767px) {
	.visible-sm {
		display: none;
	}
	.visible-md {
		display: none;
	}
	.visible-lg {
		display: none;
	}
	.hidden-xs {
		display: none;
	}
	.section-box {
		width: 100%;
	}
}

/*Tablet View*/
@media screen and (min-width: 768px) {

	.gd-sm-1, .gd-sm-2, .gd-sm-3, .gd-sm-4, .gd-sm-5, .gd-sm-6, .gd-sm-7, .gd-sm-8, .gd-sm-9, .gd-sm-10, .gd-sm-11, .gd-sm-12 {
		position: relative;
		float: left;
		min-height: 1px;
		padding-left: var(--large);
		padding-right: var(--large);
	}

	.visible-xs {
		display: none;
	}
	.visible-md {
		display: none;
	}
	.visible-lg {
		display: none;
	}
	.hidden-sm {
		display: none !important;
	}

	.section-box {
		width: 100%;
	}

	.gd-sm-1 {
		width: 8.33333333%;
	}
	.gd-sm-2 {
		width: 16.66666667%;
	}
	.gd-sm-3 {
		width: 25%;
	}
	.gd-sm-4 {
		width: 33.33333333%;
	}
	.gd-sm-5 {
		width: 41.66666667%;
	}
	.gd-sm-6 {
		width: 50%;
	}
	.gd-sm-7 {
		width: 58.33333333%;
	}
	.gd-sm-8 {
		width: 66.66666667%;
	}
	.gd-sm-9 {
		width: 75%;
	}
	.gd-sm-10 {
		width: 83.33333333%;
	}
	.gd-sm-11 {
		width: 91.66666667%;
	}
	.gd-sm-12 {
		width: 100%;
	}


	.gd-sm-offset-1 {
		margin-left: 8.33333333%;
	}
	.gd-sm-offset-2 {
		margin-left: 16.66666667%;
	}
	.gd-sm-offset-3 {
		margin-left: 25%;
	}
	.gd-sm-offset-4 {
		margin-left: 33.33333333%;
	}
	.gd-sm-offset-5 {
		margin-left: 41.66666667%;
	}
	.gd-sm-offset-6 {
		margin-left: 50%;
	}
	.gd-sm-offset-7 {
		margin-left: 58.33333333%;
	}
	.gd-sm-offset-8 {
		margin-left: 66.66666667%;
	}
	.gd-sm-offset-9 {
		margin-left: 75%;
	}
	.gd-sm-offset-10 {
		margin-left: 83.33333333%;
	}
	.gd-sm-offset-11 {
		margin-left: 91.66666667%;
	}

}

/*Laptop View*/
@media screen and (min-width: 992px) {
	.gd-md-1, .gd-md-2, .gd-md-3, .gd-md-4, .gd-md-5, .gd-md-6, .gd-md-7, .gd-md-8, .gd-md-9, .gd-md-10, .gd-md-11, .gd-md-12 {
		position: relative;
		float: left;
		min-height: 1px;
		padding-left: var(--large);
		padding-right: var(--large);
	}

	.visible-xs {
		display: none;
	}
	.visible-sm {
		display: none;
	}
	.visible-lg {
		display: none;
	}
	.hidden-md {
		display: none !important;
	}

	.section-box {
		width: 95%;
	}

	.gd-md-1 {
		width: 8.33333333%;
	}
	.gd-md-2 {
		width: 16.66666667%;
	}
	.gd-md-3 {
		width: 25%;
	}
	.gd-md-4 {
		width: 33.33333333%;
	}
	.gd-md-5 {
		width: 41.66666667%;
	}
	.gd-md-6 {
		width: 50%;
	}
	.gd-md-7 {
		width: 58.33333333%;
	}
	.gd-md-8 {
		width: 66.66666667%;
	}
	.gd-md-9 {
		width: 75%;
	}
	.gd-md-10 {
		width: 83.33333333%;
	}
	.gd-md-11 {
		width: 91.66666667%;
	}
	.gd-md-12 {
		width: 100%;
	}


	.gd-md-offset-1 {
		margin-left: 8.33333333%;
	}
	.gd-md-offset-2 {
		margin-left: 16.66666667%;
	}
	.gd-md-offset-3 {
		margin-left: 25%;
	}
	.gd-md-offset-4 {
		margin-left: 33.33333333%;
	}
	.gd-md-offset-5 {
		margin-left: 41.66666667%;
	}
	.gd-md-offset-6 {
		margin-left: 50%;
	}
	.gd-md-offset-7 {
		margin-left: 58.33333333%;
	}
	.gd-md-offset-8 {
		margin-left: 66.66666667%;
	}
	.gd-md-offset-9 {
		margin-left: 75%;
	}
	.gd-md-offset-10 {
		margin-left: 83.33333333%;
	}
	.gd-md-offset-11 {
		margin-left: 91.66666667%;
	}
}

/*Desktop View*/
@media screen and (min-width: 1200px) {

	.gd-lg-1, .gd-lg-2, .gd-lg-3, .gd-lg-4, .gd-lg-5, .gd-lg-6, .gd-lg-7, .gd-lg-8, .gd-lg-9, .gd-lg-10, .gd-lg-11, .gd-lg-12 {
		position: relative;
		float: left;
		min-height: 1px;
		padding-left: var(--large);
		padding-right: var(--large);
	}

	.visible-xs {
		display: none;
	}
	.visible-sm {
		display: none;
	}
	.visible-md {
		display: none;
	}
	.hidden-lg {
		display: none !important;
	}

	.section-box {
		width: 85%;
	}

	.gd-lg-1 {
		width: 8.33333333%;
	}
	.gd-lg-2 {
		width: 16.66666667%;
	}
	.gd-lg-3 {
		width: 25%;
	}
	.gd-lg-4 {
		width: 33.33333333%;
	}
	.gd-lg-5 {
		width: 41.66666667%;
	}
	.gd-lg-6 {
		width: 50%;
	}
	.gd-lg-7 {
		width: 58.33333333%;
	}
	.gd-lg-8 {
		width: 66.66666667%;
	}
	.gd-lg-9 {
		width: 75%;
	}
	.gd-lg-10 {
		width: 83.33333333%;
	}
	.gd-lg-11 {
		width: 91.66666667%;
	}
	.gd-lg-12 {
		width: 100%;
	}


	.gd-lg-offset-1 {
		margin-left: 8.33333333%;
	}
	.gd-lg-offset-2 {
		margin-left: 16.66666667%;
	}
	.gd-lg-offset-3 {
		margin-left: 25%;
	}
	.gd-lg-offset-4 {
		margin-left: 33.33333333%;
	}
	.gd-lg-offset-5 {
		margin-left: 41.66666667%;
	}
	.gd-lg-offset-6 {
		margin-left: 50%;
	}
	.gd-lg-offset-7 {
		margin-left: 58.33333333%;
	}
	.gd-lg-offset-8 {
		margin-left: 66.66666667%;
	}
	.gd-lg-offset-9 {
		margin-left: 75%;
	}
	.gd-lg-offset-10 {
		margin-left: 83.33333333%;
	}
	.gd-lg-offset-11 {
		margin-left: 91.66666667%;
	}

}