/*Variable Root*/
:root {
	--xx-large-size: 80;
	--x-large-size: calc(var(--xx-large-size) / 2); /*40*/
	--large-size: calc(var(--x-large-size) / 2); /*20*/
	--medium-size: calc(var(--large-size) / 2); /*10*/
	--small-size: calc(var(--medium-size) / 2); /*5*/
	--x-small-size: 3; /*3*/
	--xx-small-size: 1; /*1*/

	--xx-large: calc(var(--xx-large-size) * 1px);
	--x-large: calc(var(--x-large-size) *1px);
	--large: calc(var(--large-size) *1px);
	--medium: calc(var(--medium-size) *1px);
	--small: calc(var(--small-size) *1px);
	--x-small: calc(var(--x-small-size) *1px);
	--xx-small: calc(var(--xx-small-size) *1px);

	--min-large: calc(var(--large-size) * -1px);
	--min-medium: calc(var(--medium-size) * -1px);
}

@font-face {
    font-family: roboto;
    src: url(../font/Roboto-Regular.ttf);
}
html, body {
	margin: 0px;
	font-family: roboto;
	font-size: 15px;
}

* {
	box-sizing: border-box;
}